# Limpieza de Datos

En la presente sección se procede a limpiar los datos brutos de la lectora óptica. Para poder visualizar mejor el trabajo a
continuación se presentan el formato *limpio* de los datos y se compara con una muestra de los datos brutos.

## Aspecto de los datos

Idealmente para un proceso adecuado, los datos deberían tener el siguiente aspecto

![](https://github.com/kamecon/TFM_Kschool/raw/master/data1.jpg)

En este caso, se podrían cargar los datos en un data frame o incluso una hoja de cálculo sin problemas. No obstante los datos
brutos suelen tener este aspecto

![](https://github.com/kamecon/TFM_Kschool/raw/master/data2.jpg)

La anterior es una muestra sesgada de los datos para precisamente mostrar los elementos a limpiar, pero no es una muestra
exhaustiva de los errores que nos podemos encontrar. Dichos errores son una combinación de errores humanos y de lectura de la lectora óptica. A continuación se enumeran algunos:

* Los usuarios dejan casillas en blanco
* Colocan mal alguno de los códigos
* No rellenan bien la casilla
* La lectora desplaza algunos campos
* La lectora interpreta mal algún código y lanza un símbolo en lugar del número
* etc 

Dado que parte de estos errores se corregían de forma manual, afortunadamente tenemos una amplia compresión de su orígen y
solución

## Pre-procesado

Antes de comenzar con el proceso de limpieza de datos que posteriormente sea parte del flujo de trabajo automático, es necesario manipular este archivo debido a características particulares que en principio no estarán presentes en futuras salidas de la lectora

Debido a que los impresos de las encuestas solo poseen opciones de grupos de la _A_ a la _C_, hay dos grupos que al no poseer estas siglas han dejado esa casilla en blanco y no es posible determinar su pertenencia.

En el proceso manual esto se resolvía al momento de pasar las encuestas por la lectora, dado que la muestra que se posee no ha sido pasada en el mismo orden que en el procesado original, no es posible determinar el grupo correspondiente a estos registros.

Se opta por elimnarlos de la muestra con esto se perderían 1pico registros.

El siguiente problema guarda relación con los postgrados. Al ser grupos únicos tienen en blanco la casilla correspondiente al grupo. No obstante son solo dos grupos y se encuentran identificados por el código de división y curso, así que en este caso solo habría que rellenar el grupo en dichos registros.

En las próximas encuestas esto dos problemas ya estarán resueltos, por lo que se podría proceder directamente a la limpieza

## Proceso

Se importan las librerías necesarias (de momento)

In [135]:
import pandas as pd
import numpy as np
import time

In [136]:
t1=time.time()

Se cargan los datos

In [137]:
encu_1 = pd.read_csv('Data/encuesta.txt', sep=';', skiprows=1, header=None)
encu_1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,2,1,A,0 2,0 6,05,06,04,08,07,03,05,07,07,09,,,,,NaN
1,2,1,A,00,006,07,07,06,06,06,08,07,,08,08,,,,,NaN
2,2,1,A,002,006,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3,2,1,A,002,,08,07,07,06,07,08,07,,07,08,,,,,NaN
4,2,1,A,002,006,09,08,08,08,09,09,08,09,08,08,,,,,NaN

In [138]:
encu_1.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
3724,,,,250,223,08,08,07,08,08,08,09,07,08,08,,,,,NaN
3725,,,,250,223,05,05,04,05,04,05,05,05,05,05,,,,,NaN
3726,,,,250,223,04,04,04,05,04,07,05,03,03,04,,,,,NaN
3727,1,,,250,223,05,04,04,05,06,06,07,09,08,07,,,,,NaN
3728,,,,250,223,07,07,06,09,04,09,08,09,07,,,,,,NaN

### Pre - procesado

Este es el trozo a elminar, se muestra tanto el registro anterior (1º fila) como el posterior (última fila) para mostrar que la columna 2 correspondiente al grupo se encuentra en blanco en todos los casos.

Nótese asimismo como la columna 3 correspondiente a la asignatura cambia en el 1º y último registro

In [139]:
encu_1.iloc[3394:3509, :]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
3394,4,4,C,422,431,09,10,09,08,09,10,10,10,10,10,,,,,NaN
3395,4,4,,420,430,09,09,09,10,09,08,09,10,09,09,,,,,NaN
3396,4,4,,420,430,09,09,09,09,07,06,09,09,09,09,,,,,NaN
3397,4,,,420,430,10,10,10,10,10,09,10,09,09,10,,,,,NaN
3398,4,4,,420,430,07,07,08,08,03,06,09,09,09,07,,,,,NaN
3399,4,4,,420,430,07,08,07,07,06,06,08,07,08,08,,,,,NaN
3400,4,4,,420,430,07,08,07,08,09,07,08,07,07,07,,,,,NaN
3401,4,4,,,,08,07,10,10,09,10,10,10,08,09,,,,,NaN
3402,4,,,419,446,08,04,06,08,07,09,08,,05,05,,,,,NaN
3403,4,4,,419,446,08,09,07,09,05,08,09,05,09,08,,,,,NaN
3404,4,4,,419,446,10,07,08,06,08,10,10,07,10,09,,,,,NaN
3405,4,4,,419,446,06,06,06,07,06,08,06,07,06,07,,,,,NaN
3406,,4,,,,10,10,10,10,09,10,10,08,10,10,,,,,NaN
3407,4,4,,419,429,08,09,08,08,08,09,10,,09,09,,,,,NaN
3408,4,4,,419,429,09,10,07,09,05,09,09,06,09,09,,,,,NaN
3409,4,4,,419,446,09,09,09,08,09,09,09,09,10,08,,,,,NaN
3410,4,4,,419,429,07,10,08,10,09,09,10,05,10,09,,,,,NaN
3411,4,4,,418,428,06,05,05,09,06,10,10,10,07,09,,,,,NaN
3412,4,4,,418,428,06,08,07,08,08,09,09,06,08,08,,,,,NaN
3413,4,,,418,428,08,09,07,06,09,07,09,08,07,09,,,,,NaN
3414,,,,418,428,07,05,07,09,08,10,09,08,08,08,,,,,NaN
3415,,,,418,428,07,07,08,09,07,06,06,07,05,06,,,,,NaN
3416,4,4,,418,428,06,06,06,07,06,07,08,05,07,07,,,,,NaN
3417,4,4,,418,428,06,06,07,08,07,09,08,06,08,07,,,,,NaN
3418,4,4,,418,428,07,09,07,08,07,09,08,04,08,08,,,,,NaN
3419,4,4,,418,428,09,08,09,09,08,10,09,09,09,09,,,,,NaN
3420,4,4,,418,428,07,05,05,07,06,07,06,06,07,06,,,,,NaN
3421,,4,,418,428,08,06,08,07,06,09,08,06,07,07,,,,,NaN
3422,4,4,,418,428,08,06,06,07,07,08,08,05,07,07,,,,,NaN
3423,4,4,,418,428,06,03,07,08,05,10,06,06,06,07,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3479,4,4,,417,427,06,04,04,04,05,08,06,07,03,05,,,,,NaN
3480,4,4,,,,10,10,10,09,08,10,10,10,10,10,,,,,NaN
3481,4,4,,417,427,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3482,4,4,,417,427,08,07,08,07,07,08,08,08,08,07,,,,,NaN
3483,4,4,,417,427,09,08,08,08,07,09,09,09,09,09,,,,,NaN
3484,4,4,,417,427,10,10,09,08,08,10,10,09,10,09,,,,,NaN
3485,4,4,,417,427,08,08,07,07,06,10,10,10,10,08,,,,,NaN
3486,4,4,,417,427,10,10,10,08,10,10,10,10,10,10,,,,,NaN
3487,4,4,,417,427,09,06,05,05,09,10,09,09,09,07,,,,,NaN
3488,4,4,,417,427,09,07,10,05,02,09,10,09,09,08,,,,,NaN
3489,4,4,,417,427,10,08,09,08,04,09,09,08,08,08,,,,,NaN
3490,4,4,,417,427,09,08,08,07,05,09,09,09,08,08,,,,,NaN
3491,4,4,,417,427,07,08,07,04,06,09,09,09,07,07,,,,,NaN
3492,4,4,,417,427,03,03,02,02,03,06,05,04,01,02,,,,,NaN
3493,4,,,417,427,05,03,03,04,05,07,06,07,07,03,,,,,NaN
3494,4,4,,417,427,08,06,07,04,07,10,07,09,06,06,,,,,NaN
3495,4,4,,417,427,07,08,07,05,06,08,07,07,08,07,,,,,NaN
3496,4,4,,417,427,08,08,07,07,06,10,08,07,08,08,,,,,NaN
3497,,,,417,427,06,01,04,05,04,10,05,10,05,04,,,,,NaN
3498,4,4,,422,431,08,10,09,10,10,10,10,10,10,09,,,,,NaN
3499,4,4,,422,431,07,08,09,05,02,09,06,06,07,06,,,,,NaN
3500,,,,422,431,09,07,07,07,06,10,07,07,07,08,,,,,NaN
3501,4,4,,422,431,08,08,08,08,09,10,08,09,09,09,,,,,NaN
3502,4,4,,422,431,09,09,09,10,10,10,10,09,10,10,,,,,NaN
3503,4,4,,422,431,09,09,08,09,09,10,10,10,09,09,,,,,NaN
3504,4,4,,422,431,10,09,08,08,08,10,10,08,09,10,,,,,NaN
3505,4,4,,422,431,07,06,08,07,06,09,09,05,07,07,,,,,NaN
3506,,4,,422,431,09,08,09,08,08,10,10,09,09,10,,,,,NaN
3507,4,4,,422,431,06,06,07,07,06,10,06,08,08,07,,,,,NaN
3508,4,5,,448,445,06,02,04,05,07,10,01,05,03,04,,,,,NaN

Primero procederemos a rellenar el grupo de los registros correspondientes a postgrados, ya que los tenemos localizados, son justamente los registros debajo del curso sin grupo hasta el final del data frame

Estos son los registros a partir de la fila 3508

In [140]:
encu_1.iloc[3508:,2] = 'A'

In [141]:
encu_1.iloc[3508:,:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
3508,4,5,A,448,445,06,02,04,05,07,10,01,05,03,04,,,,,NaN
3509,4,5,A,448,445,05,05,05,07,06,10,05,10,06,06,,,,,NaN
3510,4,5,A,448,445,04,02,02,05,03,09,03,08,02,04,,,,,NaN
3511,,5,A,448,445,06,06,06,06,07,09,03,09,05,05,,,,,NaN
3512,4,5,A,448,445,06,06,06,07,05,09,07,08,06,06,,,,,NaN
3513,4,5,A,448,445,05,01,02,01,01,10,01,05,01,02,,,,,NaN
3514,4,5,A,448,445,10,06,05,05,06,10,05,10,05,06,,,,,NaN
3515,4,5,A,448,445,06,02,01,01,01,09,01,09,01,02,,,,,NaN
3516,4,5,A,448,445,09,06,06,06,07,10,05,08,06,06,,,,,NaN
3517,4,5,A,448,445,06,06,06,05,08,08,,04,03,04,,,,,NaN
3518,4,5,A,448,445,05,05,05,06,05,10,04,07,10,06,,,,,NaN
3519,4,5,A,448,445,01,03,06,05,02,10,02,08,05,05,,,,,NaN
3520,4,5,A,448,445,06,06,07,06,08,10,04,10,06,06,,,,,NaN
3521,4,5,A,448,445,06,02,02,01,06,10,01,05,04,04,,,,,NaN
3522,4,5,A,448,445,06,02,02,01,08,10,04,05,01,04,,,,,NaN
3523,4,,A,448,445,05,02,02,01,06,10,03,07,05,04,,,,,NaN
3524,,5,A,448,445,07,07,07,06,06,06,06,06,05,06,,,,,NaN
3525,,5,A,448,445,05,03,03,01,02,10,01,08,03,05,,,,,NaN
3526,4,5,A,448,445,06,06,04,04,04,06,06,06,04,07,,,,,NaN
3527,4,5,A,44,445,09,08,07,10,09,10,09,10,08,09,,,,,NaN
3528,4,5,A,448,445,05,05,05,03,06,10,01,08,03,04,,,,,NaN
3529,4,5,A,448,445,06,01,02,01,05,10,03,05,01,01,,,,,NaN
3530,4,5,A,448,445,07,06,06,06,05,07,06,07,06,06,,,,,NaN
3531,4,5,A,44,445,08,06,07,04,07,09,04,09,06,06,,,,,NaN
3532,4,5,A,448,445,09,08,06,05,08,10,04,10,06,07,,,,,NaN
3533,4,5,A,448,445,03,01,01,01,01,10,02,03,01,02,,,,,NaN
3534,4,5,A,448,445,05,03,03,02,05,10,03,07,02,04,,,,,NaN
3535,4,5,A,447,444,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3536,4,5,A,447,444,09,08,08,06,06,10,09,10,10,09,,,,,NaN
3537,4,5,A,447,444,08,08,08,08,08,08,08,08,08,08,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3699,1,,A,253,254,07,08,07,08,07,07,08,08,07,07,,,,,NaN
3700,1,,A,253,254,08,07,07,07,07,07,07,07,07,07,,,,,NaN
3701,1,,A,253,254,02,03,04,04,04,04,05,05,06,05,,,,,NaN
3702,,,A,253,254,09,08,07,09,08,09,09,09,08,08,,,,,NaN
3703,,,A,253,254,09,09,08,09,08,09,09,09,09,,,,,,NaN
3704,,,A,253,254,05,05,05,05,05,05,05,05,05,05,,,,,NaN
3705,1,,A,253,254,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3706,,,A,253,254,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3707,1,,A,250,223,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3708,1,,A,250,223,03,04,04,06,06,10,09,06,07,06,,,,,NaN
3709,1,,A,250,223,06,09,05,07,07,10,10,,,10,05,,,,NaN
3710,,,A,250,223,08,08,08,08,08,08,08,08,08,08,,,,,NaN
3711,1,,A,250,223,07,07,07,07,08,08,08,01,08,07,,,,,NaN
3712,,,A,25,223,02,05,02,07,01,10,05,05,02,03,,,,,NaN
3713,1,,A,250,223,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3714,1,,A,250,223,06,07,06,08,05,05,07,05,09,08,,,,,NaN
3715,,,A,250,223,05,06,05,05,06,05,06,04,06,05,,,,,NaN
3716,1,,A,25,223,10,10,09,10,09,09,10,10,10,10,,,,,NaN
3717,1,,A,250,223,06,06,05,07,06,08,07,05,05,05,,,,,NaN
3718,1,,A,250,223,06,05,06,06,06,09,05,07,07,06,,,,,NaN
3719,,,A,250,2?3,02,??,01,04,,??,,07,,06,,,,,NaN
3720,,,A,250,223,07,09,09,10,08,10,10,07,10,09,,,,,NaN
3721,1,,A,250,223,07,07,07,07,07,07,07,07,07,07,,,,,NaN
3722,1,,A,250,223,05,05,06,07,06,08,07,05,05,06,,,,,NaN
3723,1,,A,250,223,04,04,04,04,04,04,05,03,04,05,,,,,NaN
3724,,,A,250,223,08,08,07,08,08,08,09,07,08,08,,,,,NaN
3725,,,A,250,223,05,05,04,05,04,05,05,05,05,05,,,,,NaN
3726,,,A,250,223,04,04,04,05,04,07,05,03,03,04,,,,,NaN
3727,1,,A,250,223,05,04,04,05,06,06,07,09,08,07,,,,,NaN
3728,,,A,250,223,07,07,06,09,04,09,08,09,07,,,,,,NaN

Asimismo debemos colocar el año al postgrado (5) a la división 1, la cual mostramos abajo. Los registros son a partir de la fila 3640

In [142]:
encu_1.iloc[3639:,:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
3639,4,5,A,444,441,10,09,10,10,09,10,10,10,09,09,,,,,NaN
3640,1,,A,251,233,06,06,06,06,06,06,06,06,06,06,,,,,NaN
3641,1,,A,251,233,08,10,09,08,09,09,09,09,10,10,,,,,NaN
3642,1,,A,251,233,08,07,05,10,07,10,10,05,09,07,,,,,NaN
3643,,,A,251,233,08,08,08,08,08,08,08,08,08,08,,,,,NaN
3644,1,,A,251,233,04,01,02,03,03,07,07,01,04,02,,,,,NaN
3645,,,A,251,233,05,05,05,05,05,05,,05,05,05,,,,,NaN
3646,1,,A,251,233,08,08,08,08,07,06,07,08,07,07,,,,,NaN
3647,,,A,251,233,01,01,01,01,01,01,01,01,01,01,,,,,NaN
3648,1,,A,251,233,06,06,05,06,05,04,04,04,04,04,,,,,NaN
3649,1,,A,251,233,10,09,09,09,10,10,10,10,10,10,,,,,NaN
3650,1,,A,251,233,02,02,02,02,02,02,02,02,02,02,,,,,NaN
3651,1,,A,251,233,09,10,08,09,06,09,09,06,09,09,,,,,NaN
3652,,,A,251,233,,,,,,,??,03,02,??,,,,,NaN
3653,,,A,251,233,04,09,06,06,06,07,07,07,07,06,,,,,NaN
3654,1,,A,251,233,06,06,07,07,07,07,07,07,07,07,,,,,NaN
3655,1,,A,251,233,06,06,06,06,06,08,06,05,05,05,,,,,NaN
3656,1,,A,251,233,02,02,02,03,03,03,03,03,03,05,,,,,NaN
3657,,,A,251,233,09,08,07,07,07,06,07,06,08,07,,,,,NaN
3658,,,A,251,233,02,02,02,02,02,02,02,02,02,02,,,,,NaN
3659,,,A,251,233,03,02,02,04,04,06,06,03,02,02,,,,,NaN
3660,1,,A,151,233,09,08,09,08,08,09,06,08,09,09,,,,,NaN
3661,,,A,251,233,04,02,04,04,04,06,06,08,03,04,,,,,NaN
3662,1,,A,252,234,05,05,05,05,05,05,05,05,05,05,,,,,NaN
3663,1,,A,252,234,10,09,09,08,09,09,09,10,10,09,,,,,NaN
3664,1,,A,252,234,10,10,10,08,10,10,10,10,10,,,,,,NaN
3665,,,A,252,234,10,10,06,09,10,10,10,10,10,10,,,,,NaN
3666,1,,A,252,234,06,06,07,06,08,08,08,08,09,08,,,,,NaN
3667,,,A,25,234,07,03,04,06,05,10,04,03,02,04,,,,,NaN
3668,1,,A,252,234,06,06,07,06,06,06,06,06,06,06,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3699,1,,A,253,254,07,08,07,08,07,07,08,08,07,07,,,,,NaN
3700,1,,A,253,254,08,07,07,07,07,07,07,07,07,07,,,,,NaN
3701,1,,A,253,254,02,03,04,04,04,04,05,05,06,05,,,,,NaN
3702,,,A,253,254,09,08,07,09,08,09,09,09,08,08,,,,,NaN
3703,,,A,253,254,09,09,08,09,08,09,09,09,09,,,,,,NaN
3704,,,A,253,254,05,05,05,05,05,05,05,05,05,05,,,,,NaN
3705,1,,A,253,254,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3706,,,A,253,254,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3707,1,,A,250,223,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3708,1,,A,250,223,03,04,04,06,06,10,09,06,07,06,,,,,NaN
3709,1,,A,250,223,06,09,05,07,07,10,10,,,10,05,,,,NaN
3710,,,A,250,223,08,08,08,08,08,08,08,08,08,08,,,,,NaN
3711,1,,A,250,223,07,07,07,07,08,08,08,01,08,07,,,,,NaN
3712,,,A,25,223,02,05,02,07,01,10,05,05,02,03,,,,,NaN
3713,1,,A,250,223,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3714,1,,A,250,223,06,07,06,08,05,05,07,05,09,08,,,,,NaN
3715,,,A,250,223,05,06,05,05,06,05,06,04,06,05,,,,,NaN
3716,1,,A,25,223,10,10,09,10,09,09,10,10,10,10,,,,,NaN
3717,1,,A,250,223,06,06,05,07,06,08,07,05,05,05,,,,,NaN
3718,1,,A,250,223,06,05,06,06,06,09,05,07,07,06,,,,,NaN
3719,,,A,250,2?3,02,??,01,04,,??,,07,,06,,,,,NaN
3720,,,A,250,223,07,09,09,10,08,10,10,07,10,09,,,,,NaN
3721,1,,A,250,223,07,07,07,07,07,07,07,07,07,07,,,,,NaN
3722,1,,A,250,223,05,05,06,07,06,08,07,05,05,06,,,,,NaN
3723,1,,A,250,223,04,04,04,04,04,04,05,03,04,05,,,,,NaN
3724,,,A,250,223,08,08,07,08,08,08,09,07,08,08,,,,,NaN
3725,,,A,250,223,05,05,04,05,04,05,05,05,05,05,,,,,NaN
3726,,,A,250,223,04,04,04,05,04,07,05,03,03,04,,,,,NaN
3727,1,,A,250,223,05,04,04,05,06,06,07,09,08,07,,,,,NaN
3728,,,A,250,223,07,07,06,09,04,09,08,09,07,,,,,,NaN

In [143]:
encu_1.iloc[3640:,1] = 5

In [144]:
encu_1.iloc[3640:,:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
3640,1,5,A,251,233,06,06,06,06,06,06,06,06,06,06,,,,,NaN
3641,1,5,A,251,233,08,10,09,08,09,09,09,09,10,10,,,,,NaN
3642,1,5,A,251,233,08,07,05,10,07,10,10,05,09,07,,,,,NaN
3643,,5,A,251,233,08,08,08,08,08,08,08,08,08,08,,,,,NaN
3644,1,5,A,251,233,04,01,02,03,03,07,07,01,04,02,,,,,NaN
3645,,5,A,251,233,05,05,05,05,05,05,,05,05,05,,,,,NaN
3646,1,5,A,251,233,08,08,08,08,07,06,07,08,07,07,,,,,NaN
3647,,5,A,251,233,01,01,01,01,01,01,01,01,01,01,,,,,NaN
3648,1,5,A,251,233,06,06,05,06,05,04,04,04,04,04,,,,,NaN
3649,1,5,A,251,233,10,09,09,09,10,10,10,10,10,10,,,,,NaN
3650,1,5,A,251,233,02,02,02,02,02,02,02,02,02,02,,,,,NaN
3651,1,5,A,251,233,09,10,08,09,06,09,09,06,09,09,,,,,NaN
3652,,5,A,251,233,,,,,,,??,03,02,??,,,,,NaN
3653,,5,A,251,233,04,09,06,06,06,07,07,07,07,06,,,,,NaN
3654,1,5,A,251,233,06,06,07,07,07,07,07,07,07,07,,,,,NaN
3655,1,5,A,251,233,06,06,06,06,06,08,06,05,05,05,,,,,NaN
3656,1,5,A,251,233,02,02,02,03,03,03,03,03,03,05,,,,,NaN
3657,,5,A,251,233,09,08,07,07,07,06,07,06,08,07,,,,,NaN
3658,,5,A,251,233,02,02,02,02,02,02,02,02,02,02,,,,,NaN
3659,,5,A,251,233,03,02,02,04,04,06,06,03,02,02,,,,,NaN
3660,1,5,A,151,233,09,08,09,08,08,09,06,08,09,09,,,,,NaN
3661,,5,A,251,233,04,02,04,04,04,06,06,08,03,04,,,,,NaN
3662,1,5,A,252,234,05,05,05,05,05,05,05,05,05,05,,,,,NaN
3663,1,5,A,252,234,10,09,09,08,09,09,09,10,10,09,,,,,NaN
3664,1,5,A,252,234,10,10,10,08,10,10,10,10,10,,,,,,NaN
3665,,5,A,252,234,10,10,06,09,10,10,10,10,10,10,,,,,NaN
3666,1,5,A,252,234,06,06,07,06,08,08,08,08,09,08,,,,,NaN
3667,,5,A,25,234,07,03,04,06,05,10,04,03,02,04,,,,,NaN
3668,1,5,A,252,234,06,06,07,06,06,06,06,06,06,06,,,,,NaN
3669,,5,A,252,234,02,02,02,02,02,02,02,02,02,02,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3699,1,5,A,253,254,07,08,07,08,07,07,08,08,07,07,,,,,NaN
3700,1,5,A,253,254,08,07,07,07,07,07,07,07,07,07,,,,,NaN
3701,1,5,A,253,254,02,03,04,04,04,04,05,05,06,05,,,,,NaN
3702,,5,A,253,254,09,08,07,09,08,09,09,09,08,08,,,,,NaN
3703,,5,A,253,254,09,09,08,09,08,09,09,09,09,,,,,,NaN
3704,,5,A,253,254,05,05,05,05,05,05,05,05,05,05,,,,,NaN
3705,1,5,A,253,254,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3706,,5,A,253,254,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3707,1,5,A,250,223,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3708,1,5,A,250,223,03,04,04,06,06,10,09,06,07,06,,,,,NaN
3709,1,5,A,250,223,06,09,05,07,07,10,10,,,10,05,,,,NaN
3710,,5,A,250,223,08,08,08,08,08,08,08,08,08,08,,,,,NaN
3711,1,5,A,250,223,07,07,07,07,08,08,08,01,08,07,,,,,NaN
3712,,5,A,25,223,02,05,02,07,01,10,05,05,02,03,,,,,NaN
3713,1,5,A,250,223,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3714,1,5,A,250,223,06,07,06,08,05,05,07,05,09,08,,,,,NaN
3715,,5,A,250,223,05,06,05,05,06,05,06,04,06,05,,,,,NaN
3716,1,5,A,25,223,10,10,09,10,09,09,10,10,10,10,,,,,NaN
3717,1,5,A,250,223,06,06,05,07,06,08,07,05,05,05,,,,,NaN
3718,1,5,A,250,223,06,05,06,06,06,09,05,07,07,06,,,,,NaN
3719,,5,A,250,2?3,02,??,01,04,,??,,07,,06,,,,,NaN
3720,,5,A,250,223,07,09,09,10,08,10,10,07,10,09,,,,,NaN
3721,1,5,A,250,223,07,07,07,07,07,07,07,07,07,07,,,,,NaN
3722,1,5,A,250,223,05,05,06,07,06,08,07,05,05,06,,,,,NaN
3723,1,5,A,250,223,04,04,04,04,04,04,05,03,04,05,,,,,NaN
3724,,5,A,250,223,08,08,07,08,08,08,09,07,08,08,,,,,NaN
3725,,5,A,250,223,05,05,04,05,04,05,05,05,05,05,,,,,NaN
3726,,5,A,250,223,04,04,04,05,04,07,05,03,03,04,,,,,NaN
3727,1,5,A,250,223,05,04,04,05,06,06,07,09,08,07,,,,,NaN
3728,,5,A,250,223,07,07,06,09,04,09,08,09,07,,,,,,NaN

Y finalmente, hay un grupo que debido a un error al momento de pasar la encuesta no rellenaron su grupo correspondiente (D). Los registros son los correspondientes a las filas 2721 a la 2776 asociados a la asignatura 430, las cuales se presentan a continuación

In [145]:
encu_1.iloc[2720:2778,:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
2720,4,2,,027,410,07,03,03,05,06,10,09,07,03,05,,,,,NaN
2721,4,2,,430,448,10,10,10,10,10,10,10,10,10,10,,,,,NaN
2722,4,2,,430,448,08,09,10,07,09,10,08,08,09,10,,,,,NaN
2723,4,2,,430,448,10,10,10,10,04,10,10,10,10,10,,,,,NaN
2724,4,2,,430,448,10,10,10,10,10,10,10,10,10,10,,,,,NaN
2725,4,2,,430,448,10,10,10,10,10,10,10,10,10,10,,,,,NaN
2726,4,2,,430,448,08,08,08,08,07,08,08,08,08,08,,,,,NaN
2727,4,2,,430,448,08,08,08,08,06,08,08,08,08,08,,,,,NaN
2728,4,2,,430,448,09,09,09,09,09,09,09,09,09,10,,,,,NaN
2729,4,2,,430,448,06,07,05,09,07,09,09,06,08,09,,,,,NaN
2730,4,2,,430,448,10,10,10,10,08,10,10,10,10,10,,,,,NaN
2731,4,2,,430,448,08,08,08,08,07,09,09,05,07,07,,,,,NaN
2732,4,2,,430,448,08,08,09,08,09,09,09,09,09,09,,,,,NaN
2733,4,2,,430,448,09,09,09,09,07,08,09,08,09,09,,,,,NaN
2734,4,2,,430,448,10,10,09,10,09,09,09,07,08,09,,,,,NaN
2735,4,2,,430,448,09,08,07,09,07,09,10,08,07,09,,,,,NaN
2736,4,2,,430,448,08,08,07,09,07,09,08,07,07,08,,,,,NaN
2737,4,2,,430,448,08,08,08,08,09,07,07,07,07,08,,,,,NaN
2738,,,,430,448,08,10,08,08,07,07,09,05,09,10,,,,,NaN
2739,,,,430,448,09,09,09,09,09,10,09,08,09,10,,,,,NaN
2740,4,2,,430,448,09,09,07,09,08,10,09,07,08,08,,,,,NaN
2741,4,2,,430,448,09,08,09,09,08,10,09,08,08,09,,,,,NaN
2742,4,2,,430,448,08,08,09,07,07,09,08,07,09,08,,,,,NaN
2743,4,2,,430,448,10,10,08,07,07,09,07,08,09,09,,,,,NaN
2744,4,2,,430,448,09,08,09,09,09,09,09,08,09,09,,,,,NaN
2745,4,2,,430,448,08,08,08,09,07,09,09,06,09,08,,,,,NaN
2746,4,2,,430,448,10,10,10,10,10,10,10,10,10,10,,,,,NaN
2747,4,1,,430,448,08,09,09,09,07,09,08,09,09,09,,,,,NaN
2748,4,2,,430,448,07,07,08,09,09,09,09,09,10,09,,,,,NaN
2749,,2,,430,411,03,02,03,01,07,10,03,05,04,04,,,,,NaN
2750,4,2,,430,411,06,05,06,06,06,06,05,05,03,05,,,,,NaN
2751,4,2,,430,411,02,01,02,05,09,08,07,07,06,04,,,,,NaN
2752,4,2,,430,411,04,03,04,03,05,07,04,06,05,05,,,,,NaN
2753,4,2,,430,411,04,03,03,03,06,08,06,04,,04,02,,,,NaN
2754,4,2,,430,411,07,06,06,06,06,,07,08,09,08,,,,,NaN
2755,4,2,,430,411,04,03,05,04,05,06,05,07,03,06,,,,,NaN
2756,4,2,,430,411,07,04,06,07,05,08,07,05,05,06,,,,,NaN
2757,4,2,,430,411,03,02,03,02,07,08,05,05,01,04,,,,,NaN
2758,4,2,,,411,07,06,06,06,06,08,07,06,07,07,,,,,NaN
2759,4,2,,430,411,07,05,04,05,05,06,04,06,07,06,,,,,NaN
2760,4,2,,430,411,06,06,07,08,09,08,08,08,08,07,,,,,NaN
2761,4,2,,430,411,10,10,10,10,06,10,07,10,10,08,,,,,NaN
2762,,,,430,411,08,06,07,09,09,09,08,07,06,07,,,,,NaN
2763,4,2,,430,411,08,04,08,02,08,09,08,06,05,04,,,,,NaN
2764,4,2,,430,411,07,03,07,04,07,09,07,06,06,06,,,,,NaN
2765,4,2,,430,411,07,05,07,05,07,09,07,06,07,06,,,,,NaN
2766,,,,430,411,07,02,03,03,03,05,01,05,03,01,,,,,NaN
2767,4,2,,430,411,05,03,05,08,03,10,08,07,02,04,,,,,NaN
2768,4,2,,430,411,04,02,02,07,06,08,07,07,04,01,,,,,NaN
2769,4,2,,430,411,07,06,07,06,06,05,08,07,06,06,,,,,NaN
2770,4,2,,430,411,04,05,05,05,07,09,03,05,02,03,,,,,NaN
2771,4,2,,430,411,02,04,05,04,06,08,04,05,05,04,,,,,NaN
2772,4,2,,430,411,06,07,05,03,05,06,03,05,06,05,,,,,NaN
2773,4,2,,430,411,01,01,01,01,01,01,01,01,01,01,,,,,NaN
2774,4,1,,430,411,03,03,04,04,05,07,04,05,02,03,,,,,NaN
2775,4,2,,430,411,07,07,06,07,06,07,06,06,07,07,,,,,NaN
2776,4,2,,430,411,07,05,09,09,04,10,10,10,10,08,,,,,NaN
2777,4,3,,414,422,08,08,08,01,01,10,01,10,09,06,,,,,NaN

In [146]:
encu_1.iloc[2721:2777,2] = 'D'

In [147]:
encu_1.iloc[2720:2778,:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
2720,4,2,,027,410,07,03,03,05,06,10,09,07,03,05,,,,,NaN
2721,4,2,D,430,448,10,10,10,10,10,10,10,10,10,10,,,,,NaN
2722,4,2,D,430,448,08,09,10,07,09,10,08,08,09,10,,,,,NaN
2723,4,2,D,430,448,10,10,10,10,04,10,10,10,10,10,,,,,NaN
2724,4,2,D,430,448,10,10,10,10,10,10,10,10,10,10,,,,,NaN
2725,4,2,D,430,448,10,10,10,10,10,10,10,10,10,10,,,,,NaN
2726,4,2,D,430,448,08,08,08,08,07,08,08,08,08,08,,,,,NaN
2727,4,2,D,430,448,08,08,08,08,06,08,08,08,08,08,,,,,NaN
2728,4,2,D,430,448,09,09,09,09,09,09,09,09,09,10,,,,,NaN
2729,4,2,D,430,448,06,07,05,09,07,09,09,06,08,09,,,,,NaN
2730,4,2,D,430,448,10,10,10,10,08,10,10,10,10,10,,,,,NaN
2731,4,2,D,430,448,08,08,08,08,07,09,09,05,07,07,,,,,NaN
2732,4,2,D,430,448,08,08,09,08,09,09,09,09,09,09,,,,,NaN
2733,4,2,D,430,448,09,09,09,09,07,08,09,08,09,09,,,,,NaN
2734,4,2,D,430,448,10,10,09,10,09,09,09,07,08,09,,,,,NaN
2735,4,2,D,430,448,09,08,07,09,07,09,10,08,07,09,,,,,NaN
2736,4,2,D,430,448,08,08,07,09,07,09,08,07,07,08,,,,,NaN
2737,4,2,D,430,448,08,08,08,08,09,07,07,07,07,08,,,,,NaN
2738,,,D,430,448,08,10,08,08,07,07,09,05,09,10,,,,,NaN
2739,,,D,430,448,09,09,09,09,09,10,09,08,09,10,,,,,NaN
2740,4,2,D,430,448,09,09,07,09,08,10,09,07,08,08,,,,,NaN
2741,4,2,D,430,448,09,08,09,09,08,10,09,08,08,09,,,,,NaN
2742,4,2,D,430,448,08,08,09,07,07,09,08,07,09,08,,,,,NaN
2743,4,2,D,430,448,10,10,08,07,07,09,07,08,09,09,,,,,NaN
2744,4,2,D,430,448,09,08,09,09,09,09,09,08,09,09,,,,,NaN
2745,4,2,D,430,448,08,08,08,09,07,09,09,06,09,08,,,,,NaN
2746,4,2,D,430,448,10,10,10,10,10,10,10,10,10,10,,,,,NaN
2747,4,1,D,430,448,08,09,09,09,07,09,08,09,09,09,,,,,NaN
2748,4,2,D,430,448,07,07,08,09,09,09,09,09,10,09,,,,,NaN
2749,,2,D,430,411,03,02,03,01,07,10,03,05,04,04,,,,,NaN
2750,4,2,D,430,411,06,05,06,06,06,06,05,05,03,05,,,,,NaN
2751,4,2,D,430,411,02,01,02,05,09,08,07,07,06,04,,,,,NaN
2752,4,2,D,430,411,04,03,04,03,05,07,04,06,05,05,,,,,NaN
2753,4,2,D,430,411,04,03,03,03,06,08,06,04,,04,02,,,,NaN
2754,4,2,D,430,411,07,06,06,06,06,,07,08,09,08,,,,,NaN
2755,4,2,D,430,411,04,03,05,04,05,06,05,07,03,06,,,,,NaN
2756,4,2,D,430,411,07,04,06,07,05,08,07,05,05,06,,,,,NaN
2757,4,2,D,430,411,03,02,03,02,07,08,05,05,01,04,,,,,NaN
2758,4,2,D,,411,07,06,06,06,06,08,07,06,07,07,,,,,NaN
2759,4,2,D,430,411,07,05,04,05,05,06,04,06,07,06,,,,,NaN
2760,4,2,D,430,411,06,06,07,08,09,08,08,08,08,07,,,,,NaN
2761,4,2,D,430,411,10,10,10,10,06,10,07,10,10,08,,,,,NaN
2762,,,D,430,411,08,06,07,09,09,09,08,07,06,07,,,,,NaN
2763,4,2,D,430,411,08,04,08,02,08,09,08,06,05,04,,,,,NaN
2764,4,2,D,430,411,07,03,07,04,07,09,07,06,06,06,,,,,NaN
2765,4,2,D,430,411,07,05,07,05,07,09,07,06,07,06,,,,,NaN
2766,,,D,430,411,07,02,03,03,03,05,01,05,03,01,,,,,NaN
2767,4,2,D,430,411,05,03,05,08,03,10,08,07,02,04,,,,,NaN
2768,4,2,D,430,411,04,02,02,07,06,08,07,07,04,01,,,,,NaN
2769,4,2,D,430,411,07,06,07,06,06,05,08,07,06,06,,,,,NaN
2770,4,2,D,430,411,04,05,05,05,07,09,03,05,02,03,,,,,NaN
2771,4,2,D,430,411,02,04,05,04,06,08,04,05,05,04,,,,,NaN
2772,4,2,D,430,411,06,07,05,03,05,06,03,05,06,05,,,,,NaN
2773,4,2,D,430,411,01,01,01,01,01,01,01,01,01,01,,,,,NaN
2774,4,1,D,430,411,03,03,04,04,05,07,04,05,02,03,,,,,NaN
2775,4,2,D,430,411,07,07,06,07,06,07,06,06,07,07,,,,,NaN
2776,4,2,D,430,411,07,05,09,09,04,10,10,10,10,08,,,,,NaN
2777,4,3,,414,422,08,08,08,01,01,10,01,10,09,06,,,,,NaN

Ahora se eliminan los registros

In [148]:
encu_10 = encu_1.drop(encu_1.index[3395:3508])

En estas filas pasa lo mismo

In [149]:
encu_10.iloc[3192:3266,:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
3192,4,3,C,414,422,10,09,08,08,08,10,10,08,10,09,,,,,NaN
3193,4,4,,418,428,07,06,09,10,07,10,10,,06,07,,,,,NaN
3194,4,4,,418,428,08,09,08,08,09,08,09,08,08,08,,,,,NaN
3195,4,4,,418,428,07,07,06,06,05,08,07,07,06,07,,,,,NaN
3196,4,4,,418,428,06,07,05,09,08,10,09,09,06,06,,,,,NaN
3197,4,4,,418,428,07,09,06,10,03,10,08,09,07,07,,,,,NaN
3198,4,4,,418,428,04,03,04,07,05,09,04,05,02,05,,,,,NaN
3199,4,4,,418,428,08,08,08,06,03,09,06,07,06,07,,,,,NaN
3200,,,,418,428,09,10,07,10,10,10,10,10,10,10,,,,,NaN
3201,4,4,,418,428,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3202,4,4,,418,428,07,07,06,08,06,08,08,05,05,07,,,,,NaN
3203,4,4,,,,07,07,05,08,02,10,09,05,06,07,,,,,NaN
3204,4,4,,418,428,07,06,06,07,06,07,07,06,06,07,,,,,NaN
3205,4,4,,,,06,05,05,04,03,07,05,05,05,05,,,,,NaN
3206,,,,417,427,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3207,4,4,,417,427,09,06,06,06,06,09,09,07,06,06,,,,,NaN
3208,4,4,,417,427,10,09,10,07,06,08,08,,09,08,,,,,NaN
3209,4,4,,417,427,09,10,07,09,07,09,09,05,10,09,,,,,NaN
3210,4,4,,417,427,07,06,05,05,06,08,07,04,05,06,,,,,NaN
3211,4,,,417,427,06,05,06,06,05,08,08,05,07,05,,,,,NaN
3212,4,4,,417,427,10,10,10,08,07,09,09,07,10,10,,,,,NaN
3213,4,4,,419,446,10,07,07,08,08,10,10,07,10,09,,,,,NaN
3214,4,4,,419,446,08,07,08,07,08,10,08,05,08,08,,,,,NaN
3215,4,4,,419,446,07,02,08,07,03,09,08,04,05,02,,,,,NaN
3216,4,4,,419,446,08,09,08,08,07,09,09,08,08,08,,,,,NaN
3217,4,4,,419,446,07,06,06,07,06,10,09,05,06,06,,,,,NaN
3218,4,4,,419,446,09,09,08,09,08,10,10,,09,09,,,,,NaN
3219,4,4,,419,446,06,06,06,05,06,07,07,07,07,07,,,,,NaN
3220,4,4,,419,446,09,06,07,07,07,10,10,07,05,06,,,,,NaN
3221,4,4,,419,446,02,01,03,02,01,05,01,05,01,01,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,4,4,,419,429,04,07,04,10,08,06,10,05,07,07,,,,,NaN
3237,4,4,,419,429,09,09,08,07,06,07,07,01,07,08,,,,,NaN
3238,4,4,,419,429,08,10,09,10,03,09,10,04,07,09,,,,,NaN
3239,,,,416,426,10,10,10,10,10,10,10,08,10,10,,,,,NaN
3240,4,,,416,426,10,09,08,10,08,10,10,10,09,09,,,,,NaN
3241,4,,,416,426,08,08,07,07,07,07,09,,08,08,,,,,NaN
3242,4,,,416,426,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3243,4,4,,416,426,10,10,08,10,08,08,10,,10,09,,,,,NaN
3244,4,4,,416,426,10,10,10,08,07,10,09,10,10,09,,,,,NaN
3245,,4,,416,426,08,06,05,05,06,08,07,06,06,07,,,,,NaN
3246,,,,416,426,07,09,07,07,08,10,10,10,10,09,,,,,NaN
3247,4,4,,416,426,07,10,07,08,08,09,10,05,08,07,,,,,NaN
3248,4,4,,416,426,04,03,03,05,03,09,06,05,04,04,,,,,NaN
3249,4,4,,420,430,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3250,4,4,,420,430,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3251,4,4,,420,430,10,10,10,10,10,10,10,10,10,10,,,,,NaN
3252,4,4,,420,430,06,06,05,07,06,08,07,07,07,07,,,,,NaN
3253,4,4,,420,430,08,08,06,08,07,07,09,06,06,08,,,,,NaN
3254,4,4,,420,430,08,08,08,10,05,10,10,08,08,09,,,,,NaN
3255,4,4,,420,430,09,09,10,09,10,09,09,09,09,09,,,,,NaN
3256,4,4,,420,430,09,10,09,10,09,10,10,10,10,09,,,,,NaN
3257,4,4,,420,430,09,08,09,09,08,09,09,09,09,09,,,,,NaN
3258,4,4,,420,430,10,10,10,10,10,10,10,08,09,10,,,,,NaN
3259,4,4,,420,430,10,09,09,09,09,10,10,10,10,09,09,,,,NaN
3260,4,4,,420,430,09,09,10,10,09,10,10,08,09,09,,,,,NaN
3261,4,,,420,430,07,08,09,09,07,10,10,08,08,08,,,,,NaN
3262,4,4,,420,430,10,10,08,10,03,10,10,10,07,09,,,,,NaN
3263,4,4,,420,430,09,10,10,09,08,10,10,10,10,10,,,,,NaN
3264,4,4,,420,430,09,10,09,10,08,10,10,10,10,10,,,,,NaN
3265,4,4,C,416,422,08,08,08,09,08,10,10,10,10,09,,,,,NaN

In [150]:
encu_11 = encu_10.drop(encu_1.index[3191:3265])

In [151]:
encu_1.shape, encu_11.shape, encu_1.shape[0] - encu_11.shape[0]

((3729, 20), (3542, 20), 187)

In [152]:
dif_fil = encu_1.shape[0] - encu_11.shape[0]
print('Se han eliminado %d filas' %dif_fil)

Se han eliminado 187 filas

### Empieza el procesado!!

Se Cogen los items de respuesta (columnas de la 5 hasta el final) y con una expresión regular se sustituyen los espacios en blanco por NaN y luego se eliminan las columnas donde todos los valores son NaN's

In [153]:
encu_2 = encu_11.iloc[:,5:].replace(r'\s+', np.nan, regex=True).dropna(axis=1, how='all')
encu_2.head()

   5   6   7   8   9   10  11   12  13  14   15   16
0  05  06  04  08  07  03  05   07  07  09  NaN  NaN
1  07  07  06  06  06  08  07  NaN  08  08  NaN  NaN
2  10  10  10  10  10  10  10   10  10  10  NaN  NaN
3  08  07  07  06  07  08  07  NaN  07  08  NaN  NaN
4  09  08  08  08  09  09  08   09  08  08  NaN  NaN

Obtenemos la primera versión reducida del proceso de limpieza. Nótese que estamos trabajando solo con los items de respuesta.

En este paso se deben realizar varias operaciones:

* Solo hay 10 items de respuesta (columnas 5 a 9), pero una vez eliminadas las columnas con todos los valores iguales a NaN aun
  quedan 2 columnas adicionales. Esto es debido a que la lectora ha desplazado algunas calificaciones hacia la derecha. Asi que 
  lo primero que haremos es corregir ese desplazamiento.
  
* Existen items sin calificar, a estos se le imputa el valor mediano del resto de items

Comenzamos con la primera operación, corregir el desplazamiento realizado por la lectora.

Se localizan los NaN's de la penúltima columna

In [154]:
i_nulos_p = encu_2.iloc[:,-2].isnull()

Lo anterior nos da un vector booleano de unos y ceros, los unos (TRUE) nos dan los elementos nulos.

En la próxima celda localizamos los valores no nulos buscando (con where) aquellas celdas iguales a cero

In [155]:
i_nonulos_p = np.where(i_nulos_p == 0)[0].tolist()
i_nonulos_p

[87,
 175,
 204,
 206,
 246,
 392,
 548,
 990,
 1269,
 1493,
 2000,
 2193,
 2480,
 2484,
 2563,
 2753,
 3035,
 3125,
 3522]

Repetimos lo anterior con la última columna

In [156]:
i_nulos_u = encu_2.iloc[:,-1].isnull()
i_nonulos_u = np.where(i_nulos_u == 0)[0].tolist()
i_nonulos_u

[175, 183, 302]

Se construye una lista que contenga los no nulos de la última y penúltima fila, usando la unión (``|``)

In [157]:
i_nonulos_temp = set(i_nonulos_p) | set(i_nonulos_u)
i_nonulos = sorted(list(i_nonulos_temp))
i_nonulos

[87,
 175,
 183,
 204,
 206,
 246,
 302,
 392,
 548,
 990,
 1269,
 1493,
 2000,
 2193,
 2480,
 2484,
 2563,
 2753,
 3035,
 3125,
 3522]

Se comprueba que la longitud es distinta a los nonulos de las dos últimas columnas

In [158]:
len(i_nonulos_p), len(i_nonulos_u), len(i_nonulos)

(19, 3, 21)

In [159]:
encu_2.iloc[i_nonulos,:]

      5   6   7   8   9   10   11   12   13   14   15   16
87    10  08  06  07  09  05   10   04  NaN   07   07  NaN
175   08  04  06  07  07  06   05   04   06   05   04   04
183   05  03  05  08  08  10   10   09   09   06  NaN   06
204   07  06  05  07  08  10   08   06  NaN   06   07  NaN
206   04  06  04  06  08  09   07  NaN   06   04   07  NaN
246   07  03  05  08  04  08   07   08   05  NaN   07  NaN
302   10  09  10  07  10  10   10   07   05  NaN  NaN   08
392   07  06  08  06  07  01  NaN   07   06   07   08  NaN
548   09  06  09  08  08  07   09   05  NaN   09   07  NaN
990   08  10  10  08  06  04   08   08   10   09   09  NaN
1269  08  10  07  08  09  04   06  NaN   03   09   08  NaN
1493  06  06  06  07  07  06   07   08  NaN   06   07  NaN
2000  02  01  02  03  02  09   08   08   07  NaN   04  NaN
2193  07  03  05  05  04  10   10   08   04  NaN   08  NaN
2480  07  07  07  09  08  10   10   07   07   07   07  NaN
2484  04  02  03  02  04  10   04   07   05   04   04  NaN
2563  04  05  05  06  05  04  NaN   06   06   09   05  NaN
2753  04  03  03  03  06  08   06   04  NaN   04   02  NaN
3035  09  09  10  10  06  09   09   09   10  NaN   08  NaN
3125  08  02  03  06  05  10   09   07   02   04   04  NaN
3709  06  09  05  07  07  10   10  NaN  NaN   10   05  NaN

Se define una función que realiza lo siguiente:

- Verfifica si la fila tiene NaN's

- En caso afirmativo localiza los indices donde se encuentran los NaN's

- Si tiene un solo NaN (``if len (ii) < 2``) hace un loop que recorre la fila a partir de 
  dicho indice hasta la penultima posición, y sustituye cada *celda* por el valor de la siguiente
  
- En caso que tenga más de un NaN (``else``) hace lo mismo, pero sustituyendo la celda por el valor de
  de la celda + (número de nan's)

In [160]:
def llenar(x):
    if any(l == True for l in x[:-2].isnull()):
        ii = x[:-2].isnull()
        ii = np.where(ii == 1)[0].tolist()
        if len (ii) < 2:
            for indice in range(ii[0],(len(x)-1)):
                x.iloc[indice] = x.iloc[indice+1]
        else:
            for indice in range(ii[0],(len(x)-len(ii))):
                x.iloc[indice] = x.iloc[indice+len(ii)]
    return x

Se crea un data frame que contega solo los elementos arriba filtrados

In [161]:
prueba = encu_2.iloc[i_nonulos,:]
prueba

      5   6   7   8   9   10   11   12   13   14   15   16
87    10  08  06  07  09  05   10   04  NaN   07   07  NaN
175   08  04  06  07  07  06   05   04   06   05   04   04
183   05  03  05  08  08  10   10   09   09   06  NaN   06
204   07  06  05  07  08  10   08   06  NaN   06   07  NaN
206   04  06  04  06  08  09   07  NaN   06   04   07  NaN
246   07  03  05  08  04  08   07   08   05  NaN   07  NaN
302   10  09  10  07  10  10   10   07   05  NaN  NaN   08
392   07  06  08  06  07  01  NaN   07   06   07   08  NaN
548   09  06  09  08  08  07   09   05  NaN   09   07  NaN
990   08  10  10  08  06  04   08   08   10   09   09  NaN
1269  08  10  07  08  09  04   06  NaN   03   09   08  NaN
1493  06  06  06  07  07  06   07   08  NaN   06   07  NaN
2000  02  01  02  03  02  09   08   08   07  NaN   04  NaN
2193  07  03  05  05  04  10   10   08   04  NaN   08  NaN
2480  07  07  07  09  08  10   10   07   07   07   07  NaN
2484  04  02  03  02  04  10   04   07   05   04   04  NaN
2563  04  05  05  06  05  04  NaN   06   06   09   05  NaN
2753  04  03  03  03  06  08   06   04  NaN   04   02  NaN
3035  09  09  10  10  06  09   09   09   10  NaN   08  NaN
3125  08  02  03  06  05  10   09   07   02   04   04  NaN
3709  06  09  05  07  07  10   10  NaN  NaN   10   05  NaN

Se aplica la función anterior a ``prueba``

In [162]:
prueba.apply(llenar, axis =1)

      5   6   7   8   9   10  11  12  13   14   15   16
87    10  08  06  07  09  05  10  04  07   07  NaN  NaN
175   08  04  06  07  07  06  05  04  06   05   04   04
183   05  03  05  08  08  10  10  09  09   06  NaN   06
204   07  06  05  07  08  10  08  06  06   07  NaN  NaN
206   04  06  04  06  08  09  07  06  04   07  NaN  NaN
246   07  03  05  08  04  08  07  08  05   07  NaN  NaN
302   10  09  10  07  10  10  10  07  05  NaN   08   08
392   07  06  08  06  07  01  07  06  07   08  NaN  NaN
548   09  06  09  08  08  07  09  05  09   07  NaN  NaN
990   08  10  10  08  06  04  08  08  10   09   09  NaN
1269  08  10  07  08  09  04  06  03  09   08  NaN  NaN
1493  06  06  06  07  07  06  07  08  06   07  NaN  NaN
2000  02  01  02  03  02  09  08  08  07   04  NaN  NaN
2193  07  03  05  05  04  10  10  08  04   08  NaN  NaN
2480  07  07  07  09  08  10  10  07  07   07   07  NaN
2484  04  02  03  02  04  10  04  07  05   04   04  NaN
2563  04  05  05  06  05  04  06  06  09   05  NaN  NaN
2753  04  03  03  03  06  08  06  04  04   02  NaN  NaN
3035  09  09  10  10  06  09  09  09  10   08  NaN  NaN
3125  08  02  03  06  05  10  09  07  02   04   04  NaN
3709  06  09  05  07  07  10  10  10  05  NaN   05  NaN

In [163]:
prueba

      5   6   7   8   9   10  11  12  13   14   15   16
87    10  08  06  07  09  05  10  04  07   07  NaN  NaN
175   08  04  06  07  07  06  05  04  06   05   04   04
183   05  03  05  08  08  10  10  09  09   06  NaN   06
204   07  06  05  07  08  10  08  06  06   07  NaN  NaN
206   04  06  04  06  08  09  07  06  04   07  NaN  NaN
246   07  03  05  08  04  08  07  08  05   07  NaN  NaN
302   10  09  10  07  10  10  10  07  05  NaN   08   08
392   07  06  08  06  07  01  07  06  07   08  NaN  NaN
548   09  06  09  08  08  07  09  05  09   07  NaN  NaN
990   08  10  10  08  06  04  08  08  10   09   09  NaN
1269  08  10  07  08  09  04  06  03  09   08  NaN  NaN
1493  06  06  06  07  07  06  07  08  06   07  NaN  NaN
2000  02  01  02  03  02  09  08  08  07   04  NaN  NaN
2193  07  03  05  05  04  10  10  08  04   08  NaN  NaN
2480  07  07  07  09  08  10  10  07  07   07   07  NaN
2484  04  02  03  02  04  10  04  07  05   04   04  NaN
2563  04  05  05  06  05  04  06  06  09   05  NaN  NaN
2753  04  03  03  03  06  08  06  04  04   02  NaN  NaN
3035  09  09  10  10  06  09  09  09  10   08  NaN  NaN
3125  08  02  03  06  05  10  09  07  02   04   04  NaN
3709  06  09  05  07  07  10  10  10  05  NaN   05  NaN

Sustituimos en el data frame original los valores modificados en el proceso anterior

In [164]:
encu_2.iloc[i_nonulos_p,:] = prueba
encu_2

      5   6    7   8    9    10   11   12   13   14   15   16
0     05  06   04  08   07   03   05   07   07   09  NaN  NaN
1     07  07   06  06   06   08   07  NaN   08   08  NaN  NaN
2     10  10   10  10   10   10   10   10   10   10  NaN  NaN
3     08  07   07  06   07   08   07  NaN   07   08  NaN  NaN
4     09  08   08  08   09   09   08   09   08   08  NaN  NaN
5     07  08   08  06   09   09   05   06   07   09  NaN  NaN
6     06  07   10  10   08   09   10   10   10   09  NaN  NaN
7     08  09   07  09   04   07   09   10   10   09  NaN  NaN
8     07  02   07  08   08   06   09   08   02   07  NaN  NaN
9     09  08   08  07   08   07   09   08   09   09  NaN  NaN
10    08  05  NaN  03   06   09   09   09   04   08  NaN  NaN
11    05  09   05  10   09   10   10   10   09   06  NaN  NaN
12    10  10   10  10   10   10   10   10   10   10  NaN  NaN
13    07  06   07  08   07   06   ??   07   07   08  NaN  NaN
14    04  02   02  03   03   06   08   08   06   03  NaN  NaN
15    06  08   06  05   06  NaN   07   05   07   09  NaN  NaN
16    09  08   08  08   07   07   08   08   08   07  NaN  NaN
17    01  01   01  01   01   01   01   01   01   01  NaN  NaN
18    07  05   07  08   06   08   05   07   06   07  NaN  NaN
19    01  01   01  01   01   01   03   01   01   01  NaN  NaN
20    09  09   09  08   07   08   09   09   09   09  NaN  NaN
21    08  09   08  09   08   10   08   09   09   09  NaN  NaN
22    09  07   09  08   09   07   09   09   07   09  NaN  NaN
23    07  06   07  08   07   09   07   07   07   07  NaN  NaN
24    04  05   04  05   04   06   07   07   08   06  NaN  NaN
25    05  05   06  06   06   09   09   09   09   09  NaN  NaN
26    07  07   08  06   04   06   08   09   08   07  NaN  NaN
27    10  07   09  09   08   09   10   09   09   10  NaN  NaN
28    10  09   09  10   09   09   09   09   10   09  NaN  NaN
29    03  02   02  03   03   09   07   06   02   04  NaN  NaN
...   ..  ..  ...  ..  ...  ...  ...  ...  ...  ...  ...  ...
3699  07  08   07  08   07   07   08   08   07   07  NaN  NaN
3700  08  07   07  07   07   07   07   07   07   07  NaN  NaN
3701  02  03   04  04   04   04   05   05   06   05  NaN  NaN
3702  09  08   07  09   08   09   09   09   08   08  NaN  NaN
3703  09  09   08  09   08   09   09   09   09  NaN  NaN  NaN
3704  05  05   05  05   05   05   05   05   05   05  NaN  NaN
3705  10  10   10  10   10   10   10   10   10   10  NaN  NaN
3706  10  10   10  10   10   10   10   10   10   10  NaN  NaN
3707  10  10   10  10   10   10   10   10   10   10  NaN  NaN
3708  03  04   04  06   06   10   09   06   07   06  NaN  NaN
3709  06  09   05  07   07   10   10   10   05  NaN   05  NaN
3710  08  08   08  08   08   08   08   08   08   08  NaN  NaN
3711  07  07   07  07   08   08   08   01   08   07  NaN  NaN
3712  02  05   02  07   01   10   05   05   02   03  NaN  NaN
3713  10  10   10  10   10   10   10   10   10   10  NaN  NaN
3714  06  07   06  08   05   05   07   05   09   08  NaN  NaN
3715  05  06   05  05   06   05   06   04   06   05  NaN  NaN
3716  10  10   09  10   09   09   10   10   10   10  NaN  NaN
3717  06  06   05  07   06   08   07   05   05   05  NaN  NaN
3718  06  05   06  06   06   09   05   07   07   06  NaN  NaN
3719  02  ??   01  04  NaN   ??  NaN   07  NaN   06  NaN  NaN
3720  07  09   09  10   08   10   10   07   10   09  NaN  NaN
3721  07  07   07  07   07   07   07   07   07   07  NaN  NaN
3722  05  05   06  07   06   08   07   05   05   06  NaN  NaN
3723  04  04   04  04   04   04   05   03   04   05  NaN  NaN
3724  08  08   07  08   08   08   09   07   08   08  NaN  NaN
3725  05  05   04  05   04   05   05   05   05   05  NaN  NaN
3726  04  04   04  05   04   07   05   03   03   04  NaN  NaN
3727  05  04   04  05   06   06   07   09   08   07  NaN  NaN
3728  07  07   06  09   04   09   08   09   07  NaN  NaN  NaN

[3542 rows x 12 columns]

Eliminamos las dos últimas columnas

In [165]:
encu_2.drop(encu_2.columns[-2:],inplace=True,axis=1)

In [166]:
encu_2

      5   6    7   8    9    10   11   12   13   14
0     05  06   04  08   07   03   05   07   07   09
1     07  07   06  06   06   08   07  NaN   08   08
2     10  10   10  10   10   10   10   10   10   10
3     08  07   07  06   07   08   07  NaN   07   08
4     09  08   08  08   09   09   08   09   08   08
5     07  08   08  06   09   09   05   06   07   09
6     06  07   10  10   08   09   10   10   10   09
7     08  09   07  09   04   07   09   10   10   09
8     07  02   07  08   08   06   09   08   02   07
9     09  08   08  07   08   07   09   08   09   09
10    08  05  NaN  03   06   09   09   09   04   08
11    05  09   05  10   09   10   10   10   09   06
12    10  10   10  10   10   10   10   10   10   10
13    07  06   07  08   07   06   ??   07   07   08
14    04  02   02  03   03   06   08   08   06   03
15    06  08   06  05   06  NaN   07   05   07   09
16    09  08   08  08   07   07   08   08   08   07
17    01  01   01  01   01   01   01   01   01   01
18    07  05   07  08   06   08   05   07   06   07
19    01  01   01  01   01   01   03   01   01   01
20    09  09   09  08   07   08   09   09   09   09
21    08  09   08  09   08   10   08   09   09   09
22    09  07   09  08   09   07   09   09   07   09
23    07  06   07  08   07   09   07   07   07   07
24    04  05   04  05   04   06   07   07   08   06
25    05  05   06  06   06   09   09   09   09   09
26    07  07   08  06   04   06   08   09   08   07
27    10  07   09  09   08   09   10   09   09   10
28    10  09   09  10   09   09   09   09   10   09
29    03  02   02  03   03   09   07   06   02   04
...   ..  ..  ...  ..  ...  ...  ...  ...  ...  ...
3699  07  08   07  08   07   07   08   08   07   07
3700  08  07   07  07   07   07   07   07   07   07
3701  02  03   04  04   04   04   05   05   06   05
3702  09  08   07  09   08   09   09   09   08   08
3703  09  09   08  09   08   09   09   09   09  NaN
3704  05  05   05  05   05   05   05   05   05   05
3705  10  10   10  10   10   10   10   10   10   10
3706  10  10   10  10   10   10   10   10   10   10
3707  10  10   10  10   10   10   10   10   10   10
3708  03  04   04  06   06   10   09   06   07   06
3709  06  09   05  07   07   10   10   10   05  NaN
3710  08  08   08  08   08   08   08   08   08   08
3711  07  07   07  07   08   08   08   01   08   07
3712  02  05   02  07   01   10   05   05   02   03
3713  10  10   10  10   10   10   10   10   10   10
3714  06  07   06  08   05   05   07   05   09   08
3715  05  06   05  05   06   05   06   04   06   05
3716  10  10   09  10   09   09   10   10   10   10
3717  06  06   05  07   06   08   07   05   05   05
3718  06  05   06  06   06   09   05   07   07   06
3719  02  ??   01  04  NaN   ??  NaN   07  NaN   06
3720  07  09   09  10   08   10   10   07   10   09
3721  07  07   07  07   07   07   07   07   07   07
3722  05  05   06  07   06   08   07   05   05   06
3723  04  04   04  04   04   04   05   03   04   05
3724  08  08   07  08   08   08   09   07   08   08
3725  05  05   04  05   04   05   05   05   05   05
3726  04  04   04  05   04   07   05   03   03   04
3727  05  04   04  05   06   06   07   09   08   07
3728  07  07   06  09   04   09   08   09   07  NaN

[3542 rows x 10 columns]

Ahora procedemos a la siguiente operación, imputar los items vacios por el valor mediano del resto de las valoraciones (fila)

Primero sustituimos los '??' por NAN

In [167]:
encu_3 = encu_2.replace(['??'], np.nan)

In [168]:
encu_3

      5    6    7   8    9    10   11   12   13   14
0     05   06   04  08   07   03   05   07   07   09
1     07   07   06  06   06   08   07  NaN   08   08
2     10   10   10  10   10   10   10   10   10   10
3     08   07   07  06   07   08   07  NaN   07   08
4     09   08   08  08   09   09   08   09   08   08
5     07   08   08  06   09   09   05   06   07   09
6     06   07   10  10   08   09   10   10   10   09
7     08   09   07  09   04   07   09   10   10   09
8     07   02   07  08   08   06   09   08   02   07
9     09   08   08  07   08   07   09   08   09   09
10    08   05  NaN  03   06   09   09   09   04   08
11    05   09   05  10   09   10   10   10   09   06
12    10   10   10  10   10   10   10   10   10   10
13    07   06   07  08   07   06  NaN   07   07   08
14    04   02   02  03   03   06   08   08   06   03
15    06   08   06  05   06  NaN   07   05   07   09
16    09   08   08  08   07   07   08   08   08   07
17    01   01   01  01   01   01   01   01   01   01
18    07   05   07  08   06   08   05   07   06   07
19    01   01   01  01   01   01   03   01   01   01
20    09   09   09  08   07   08   09   09   09   09
21    08   09   08  09   08   10   08   09   09   09
22    09   07   09  08   09   07   09   09   07   09
23    07   06   07  08   07   09   07   07   07   07
24    04   05   04  05   04   06   07   07   08   06
25    05   05   06  06   06   09   09   09   09   09
26    07   07   08  06   04   06   08   09   08   07
27    10   07   09  09   08   09   10   09   09   10
28    10   09   09  10   09   09   09   09   10   09
29    03   02   02  03   03   09   07   06   02   04
...   ..  ...  ...  ..  ...  ...  ...  ...  ...  ...
3699  07   08   07  08   07   07   08   08   07   07
3700  08   07   07  07   07   07   07   07   07   07
3701  02   03   04  04   04   04   05   05   06   05
3702  09   08   07  09   08   09   09   09   08   08
3703  09   09   08  09   08   09   09   09   09  NaN
3704  05   05   05  05   05   05   05   05   05   05
3705  10   10   10  10   10   10   10   10   10   10
3706  10   10   10  10   10   10   10   10   10   10
3707  10   10   10  10   10   10   10   10   10   10
3708  03   04   04  06   06   10   09   06   07   06
3709  06   09   05  07   07   10   10   10   05  NaN
3710  08   08   08  08   08   08   08   08   08   08
3711  07   07   07  07   08   08   08   01   08   07
3712  02   05   02  07   01   10   05   05   02   03
3713  10   10   10  10   10   10   10   10   10   10
3714  06   07   06  08   05   05   07   05   09   08
3715  05   06   05  05   06   05   06   04   06   05
3716  10   10   09  10   09   09   10   10   10   10
3717  06   06   05  07   06   08   07   05   05   05
3718  06   05   06  06   06   09   05   07   07   06
3719  02  NaN   01  04  NaN  NaN  NaN   07  NaN   06
3720  07   09   09  10   08   10   10   07   10   09
3721  07   07   07  07   07   07   07   07   07   07
3722  05   05   06  07   06   08   07   05   05   06
3723  04   04   04  04   04   04   05   03   04   05
3724  08   08   07  08   08   08   09   07   08   08
3725  05   05   04  05   04   05   05   05   05   05
3726  04   04   04  05   04   07   05   03   03   04
3727  05   04   04  05   06   06   07   09   08   07
3728  07   07   06  09   04   09   08   09   07  NaN

[3542 rows x 10 columns]

Se define una función que calcula la mediana de cada fila y porteriormente sustituye los nan's por dicho valor

In [169]:
def reemplazo_mediana(x):
    mediana = x.median()
    return x.fillna(mediana)

Se aplica la función anterior a las filas del data frame

In [170]:
encu_4 = encu_3.apply(reemplazo_mediana, axis = 1)
encu_4

      5   6   7   8   9   10  11  12  13  14
0     05  06  04  08  07  03  05  07  07  09
1     07  07  06  06  06  08  07   7  08  08
2     10  10  10  10  10  10  10  10  10  10
3     08  07  07  06  07  08  07   7  07  08
4     09  08  08  08  09  09  08  09  08  08
5     07  08  08  06  09  09  05  06  07  09
6     06  07  10  10  08  09  10  10  10  09
7     08  09  07  09  04  07  09  10  10  09
8     07  02  07  08  08  06  09  08  02  07
9     09  08  08  07  08  07  09  08  09  09
10    08  05   8  03  06  09  09  09  04  08
11    05  09  05  10  09  10  10  10  09  06
12    10  10  10  10  10  10  10  10  10  10
13    07  06  07  08  07  06   7  07  07  08
14    04  02  02  03  03  06  08  08  06  03
15    06  08  06  05  06   6  07  05  07  09
16    09  08  08  08  07  07  08  08  08  07
17    01  01  01  01  01  01  01  01  01  01
18    07  05  07  08  06  08  05  07  06  07
19    01  01  01  01  01  01  03  01  01  01
20    09  09  09  08  07  08  09  09  09  09
21    08  09  08  09  08  10  08  09  09  09
22    09  07  09  08  09  07  09  09  07  09
23    07  06  07  08  07  09  07  07  07  07
24    04  05  04  05  04  06  07  07  08  06
25    05  05  06  06  06  09  09  09  09  09
26    07  07  08  06  04  06  08  09  08  07
27    10  07  09  09  08  09  10  09  09  10
28    10  09  09  10  09  09  09  09  10  09
29    03  02  02  03  03  09  07  06  02  04
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
3699  07  08  07  08  07  07  08  08  07  07
3700  08  07  07  07  07  07  07  07  07  07
3701  02  03  04  04  04  04  05  05  06  05
3702  09  08  07  09  08  09  09  09  08  08
3703  09  09  08  09  08  09  09  09  09   9
3704  05  05  05  05  05  05  05  05  05  05
3705  10  10  10  10  10  10  10  10  10  10
3706  10  10  10  10  10  10  10  10  10  10
3707  10  10  10  10  10  10  10  10  10  10
3708  03  04  04  06  06  10  09  06  07  06
3709  06  09  05  07  07  10  10  10  05   7
3710  08  08  08  08  08  08  08  08  08  08
3711  07  07  07  07  08  08  08  01  08  07
3712  02  05  02  07  01  10  05  05  02  03
3713  10  10  10  10  10  10  10  10  10  10
3714  06  07  06  08  05  05  07  05  09  08
3715  05  06  05  05  06  05  06  04  06  05
3716  10  10  09  10  09  09  10  10  10  10
3717  06  06  05  07  06  08  07  05  05  05
3718  06  05  06  06  06  09  05  07  07  06
3719  02   4  01  04   4   4   4  07   4  06
3720  07  09  09  10  08  10  10  07  10  09
3721  07  07  07  07  07  07  07  07  07  07
3722  05  05  06  07  06  08  07  05  05  06
3723  04  04  04  04  04  04  05  03  04  05
3724  08  08  07  08  08  08  09  07  08  08
3725  05  05  04  05  04  05  05  05  05  05
3726  04  04  04  05  04  07  05  03  03  04
3727  05  04  04  05  06  06  07  09  08  07
3728  07  07  06  09  04  09  08  09  07   7

[3542 rows x 10 columns]

**Ya tenemos los valores correspondientes a los items de valoración *limpios* **

### Bloque de Códigos (división ,curso, etc)

Creamos un data frame con los códigos de división, grupo, etc. a partir del data frame pre-procesado

In [171]:
encu_codigos = encu_11.iloc[:,:5]
encu_codigos.head()

   0  1  2    3    4
0  2  1  A  0 2  0 6
1  2  1  A  00   006
2  2  1  A  002  006
3  2  1  A  002
4  2  1  A  002  006

Sustituir solo los espacios en blanco al final

Esto se hace porque hay códigos de 3 cifras (``006``) que en ocasiones tienen la cifra de medio en blanco (``0 6``), si no colocamos la condición de espacio al final, también convierte en nan los casos anteriores.

De este modo solo sustituye las *celdas* en blanco

In [172]:
encu_codigos2 = encu_codigos.replace(r'\s$', np.nan, regex=True)
encu_codigos2

        0    1    2    3    4
0       2    1    A  0 2  0 6
1       2    1    A  NaN  006
2       2    1    A  002  006
3       2    1    A  002  NaN
4       2    1    A  002  006
5       2    1    A  002  006
6       2    1  NaN  002  006
7       2    1    A  002  006
8       2    1    A  002  006
9       2    1    A  NaN  NaN
10      2    1    A  002  006
11      2    1    A  002  006
12      2  NaN  NaN  002  006
13      2  NaN  NaN  002  006
14      2    1  NaN  002  006
15      2    1    A  002  006
16    NaN  NaN  NaN  002  006
17      2    1    A  002  006
18      2    1    A  002  006
19      2    1    A  002  006
20      2    1    A  002  006
21      2    1    A  002  006
22      2    1    A  002  006
23      2  NaN    A  002  006
24      2    1    A  002  006
25    NaN  NaN  NaN  002  006
26      2    1  NaN  002  006
27      2    1  NaN  002  006
28      2    1    A  002  006
29      2    1    A  005  004
...   ...  ...  ...  ...  ...
3699    1    5    A  253  254
3700    1    5    A  253  254
3701    1    5    A  253  254
3702  NaN    5    A  253  254
3703  NaN    5    A  253  254
3704  NaN    5    A  253  254
3705    1    5    A  253  254
3706  NaN    5    A  253  254
3707    1    5    A  250  223
3708    1    5    A  250  223
3709    1    5    A  250  223
3710  NaN    5    A  250  223
3711    1    5    A  250  223
3712  NaN    5    A  NaN  223
3713    1    5    A  250  223
3714    1    5    A  250  223
3715  NaN    5    A  250  223
3716    1    5    A  NaN  223
3717    1    5    A  250  223
3718    1    5    A  250  223
3719  NaN    5    A  250  2?3
3720  NaN    5    A  250  223
3721    1    5    A  250  223
3722    1    5    A  250  223
3723    1    5    A  250  223
3724  NaN    5    A  250  223
3725  NaN    5    A  250  223
3726  NaN    5    A  250  223
3727    1    5    A  250  223
3728  NaN    5    A  250  223

[3542 rows x 5 columns]

Reemplazamos los signos de interrogación por NAN's

In [173]:
encu_codigos21 = encu_codigos2.replace(r'\?', np.nan, regex=True)
encu_codigos21

        0    1    2    3    4
0       2    1    A  0 2  0 6
1       2    1    A  NaN  006
2       2    1    A  002  006
3       2    1    A  002  NaN
4       2    1    A  002  006
5       2    1    A  002  006
6       2    1  NaN  002  006
7       2    1    A  002  006
8       2    1    A  002  006
9       2    1    A  NaN  NaN
10      2    1    A  002  006
11      2    1    A  002  006
12      2  NaN  NaN  002  006
13      2  NaN  NaN  002  006
14      2    1  NaN  002  006
15      2    1    A  002  006
16    NaN  NaN  NaN  002  006
17      2    1    A  002  006
18      2    1    A  002  006
19      2    1    A  002  006
20      2    1    A  002  006
21      2    1    A  002  006
22      2    1    A  002  006
23      2  NaN    A  002  006
24      2    1    A  002  006
25    NaN  NaN  NaN  002  006
26      2    1  NaN  002  006
27      2    1  NaN  002  006
28      2    1    A  002  006
29      2    1    A  005  004
...   ...  ...  ...  ...  ...
3699    1    5    A  253  254
3700    1    5    A  253  254
3701    1    5    A  253  254
3702  NaN    5    A  253  254
3703  NaN    5    A  253  254
3704  NaN    5    A  253  254
3705    1    5    A  253  254
3706  NaN    5    A  253  254
3707    1    5    A  250  223
3708    1    5    A  250  223
3709    1    5    A  250  223
3710  NaN    5    A  250  223
3711    1    5    A  250  223
3712  NaN    5    A  NaN  223
3713    1    5    A  250  223
3714    1    5    A  250  223
3715  NaN    5    A  250  223
3716    1    5    A  NaN  223
3717    1    5    A  250  223
3718    1    5    A  250  223
3719  NaN    5    A  250  NaN
3720  NaN    5    A  250  223
3721    1    5    A  250  223
3722    1    5    A  250  223
3723    1    5    A  250  223
3724  NaN    5    A  250  223
3725  NaN    5    A  250  223
3726  NaN    5    A  250  223
3727    1    5    A  250  223
3728  NaN    5    A  250  223

[3542 rows x 5 columns]

Reemplazamos los ceros al principio por espacios en blanco

In [174]:
encu_codigos211 = encu_codigos21.replace(r'^0+', ' ', regex=True)
encu_codigos211

        0    1    2    3    4
0       2    1    A    2    6
1       2    1    A  NaN    6
2       2    1    A    2    6
3       2    1    A    2  NaN
4       2    1    A    2    6
5       2    1    A    2    6
6       2    1  NaN    2    6
7       2    1    A    2    6
8       2    1    A    2    6
9       2    1    A  NaN  NaN
10      2    1    A    2    6
11      2    1    A    2    6
12      2  NaN  NaN    2    6
13      2  NaN  NaN    2    6
14      2    1  NaN    2    6
15      2    1    A    2    6
16    NaN  NaN  NaN    2    6
17      2    1    A    2    6
18      2    1    A    2    6
19      2    1    A    2    6
20      2    1    A    2    6
21      2    1    A    2    6
22      2    1    A    2    6
23      2  NaN    A    2    6
24      2    1    A    2    6
25    NaN  NaN  NaN    2    6
26      2    1  NaN    2    6
27      2    1  NaN    2    6
28      2    1    A    2    6
29      2    1    A    5    4
...   ...  ...  ...  ...  ...
3699    1    5    A  253  254
3700    1    5    A  253  254
3701    1    5    A  253  254
3702  NaN    5    A  253  254
3703  NaN    5    A  253  254
3704  NaN    5    A  253  254
3705    1    5    A  253  254
3706  NaN    5    A  253  254
3707    1    5    A  250  223
3708    1    5    A  250  223
3709    1    5    A  250  223
3710  NaN    5    A  250  223
3711    1    5    A  250  223
3712  NaN    5    A  NaN  223
3713    1    5    A  250  223
3714    1    5    A  250  223
3715  NaN    5    A  250  223
3716    1    5    A  NaN  223
3717    1    5    A  250  223
3718    1    5    A  250  223
3719  NaN    5    A  250  NaN
3720  NaN    5    A  250  223
3721    1    5    A  250  223
3722    1    5    A  250  223
3723    1    5    A  250  223
3724  NaN    5    A  250  223
3725  NaN    5    A  250  223
3726  NaN    5    A  250  223
3727    1    5    A  250  223
3728  NaN    5    A  250  223

[3542 rows x 5 columns]

Eliminamos los espacios creados en el paso anterior

In [175]:
encu_codigos222 = encu_codigos211.replace(r'^\s+', ' ', regex=True)
encu_codigos222

        0    1    2    3    4
0       2    1    A    2    6
1       2    1    A  NaN    6
2       2    1    A    2    6
3       2    1    A    2  NaN
4       2    1    A    2    6
5       2    1    A    2    6
6       2    1  NaN    2    6
7       2    1    A    2    6
8       2    1    A    2    6
9       2    1    A  NaN  NaN
10      2    1    A    2    6
11      2    1    A    2    6
12      2  NaN  NaN    2    6
13      2  NaN  NaN    2    6
14      2    1  NaN    2    6
15      2    1    A    2    6
16    NaN  NaN  NaN    2    6
17      2    1    A    2    6
18      2    1    A    2    6
19      2    1    A    2    6
20      2    1    A    2    6
21      2    1    A    2    6
22      2    1    A    2    6
23      2  NaN    A    2    6
24      2    1    A    2    6
25    NaN  NaN  NaN    2    6
26      2    1  NaN    2    6
27      2    1  NaN    2    6
28      2    1    A    2    6
29      2    1    A    5    4
...   ...  ...  ...  ...  ...
3699    1    5    A  253  254
3700    1    5    A  253  254
3701    1    5    A  253  254
3702  NaN    5    A  253  254
3703  NaN    5    A  253  254
3704  NaN    5    A  253  254
3705    1    5    A  253  254
3706  NaN    5    A  253  254
3707    1    5    A  250  223
3708    1    5    A  250  223
3709    1    5    A  250  223
3710  NaN    5    A  250  223
3711    1    5    A  250  223
3712  NaN    5    A  NaN  223
3713    1    5    A  250  223
3714    1    5    A  250  223
3715  NaN    5    A  250  223
3716    1    5    A  NaN  223
3717    1    5    A  250  223
3718    1    5    A  250  223
3719  NaN    5    A  250  NaN
3720  NaN    5    A  250  223
3721    1    5    A  250  223
3722    1    5    A  250  223
3723    1    5    A  250  223
3724  NaN    5    A  250  223
3725  NaN    5    A  250  223
3726  NaN    5    A  250  223
3727    1    5    A  250  223
3728  NaN    5    A  250  223

[3542 rows x 5 columns]

In [176]:
encu_codigos22 = encu_codigos222.replace(' ', np.nan)
encu_codigos22

        0    1    2    3    4
0       2    1    A    2    6
1       2    1    A  NaN    6
2       2    1    A    2    6
3       2    1    A    2  NaN
4       2    1    A    2    6
5       2    1    A    2    6
6       2    1  NaN    2    6
7       2    1    A    2    6
8       2    1    A    2    6
9       2    1    A  NaN  NaN
10      2    1    A    2    6
11      2    1    A    2    6
12      2  NaN  NaN    2    6
13      2  NaN  NaN    2    6
14      2    1  NaN    2    6
15      2    1    A    2    6
16    NaN  NaN  NaN    2    6
17      2    1    A    2    6
18      2    1    A    2    6
19      2    1    A    2    6
20      2    1    A    2    6
21      2    1    A    2    6
22      2    1    A    2    6
23      2  NaN    A    2    6
24      2    1    A    2    6
25    NaN  NaN  NaN    2    6
26      2    1  NaN    2    6
27      2    1  NaN    2    6
28      2    1    A    2    6
29      2    1    A    5    4
...   ...  ...  ...  ...  ...
3699    1    5    A  253  254
3700    1    5    A  253  254
3701    1    5    A  253  254
3702  NaN    5    A  253  254
3703  NaN    5    A  253  254
3704  NaN    5    A  253  254
3705    1    5    A  253  254
3706  NaN    5    A  253  254
3707    1    5    A  250  223
3708    1    5    A  250  223
3709    1    5    A  250  223
3710  NaN    5    A  250  223
3711    1    5    A  250  223
3712  NaN    5    A  NaN  223
3713    1    5    A  250  223
3714    1    5    A  250  223
3715  NaN    5    A  250  223
3716    1    5    A  NaN  223
3717    1    5    A  250  223
3718    1    5    A  250  223
3719  NaN    5    A  250  NaN
3720  NaN    5    A  250  223
3721    1    5    A  250  223
3722    1    5    A  250  223
3723    1    5    A  250  223
3724  NaN    5    A  250  223
3725  NaN    5    A  250  223
3726  NaN    5    A  250  223
3727    1    5    A  250  223
3728  NaN    5    A  250  223

[3542 rows x 5 columns]

Creamos una lista de listas que contengan los índices correspondientes a los registros nulos de cada columna

Localizamos los índices que contienen NAN's y lo transformamos en una lista. Emplearemos esta lista para iterar sobre el data frame y de ese modo rellenar solo los espacios de esos registros sin necesidad de buscar sobre toda la columna

Distinguimos entre registros nulos consecutivos y no consecutivos, ya que para cada uno hay que realizar un procedimiento  distinto a la hora de rellenarlos.

Una vez obtenidos los registros nulos se verifica si el índice del registro posterior es igual al del anterior más uno, de ese modo identificamos los registros nulos consecutivos.

Una vez identificados estos, puede darse el caso que existan más de dos registros NAN consecutivos, en este caso habría números repetidos debido a como se ha hecho el bucle. Para evitar esto nos quedamos con los valores únicos.

Finalmente se obtienen los no consecutivos como aquellos índices que están en la lista de nulos pero no en la lista de consecutivos (el list comprehension dentro del bucle)

In [177]:
nulos_columnas = []
nulos_consec_columnas = []
for columna in range(len(encu_codigos22.columns)):
    cod_nul_asig = encu_codigos22.iloc[:, columna].isnull()
    ind_nul_asig = np.where(cod_nul_asig == 1)[0].tolist()
    lista_consec_asig = []
    for i in range((len(ind_nul_asig)-1)):
        if ind_nul_asig[i] == ind_nul_asig[i+1]-1:
            lista_consec_asig.append(ind_nul_asig[i])
            lista_consec_asig.append(ind_nul_asig[i+1])
            unique_asig = np.unique(lista_consec_asig)
            unique_asig = unique_asig.tolist()
    lista_noconsec_asig = [x for x in ind_nul_asig if x not in unique_asig]
    nulos_columnas.append(lista_noconsec_asig)
    nulos_consec_columnas.append(unique_asig)

In [178]:
for columna in range(len(encu_codigos22.columns)):
    num_nulos = len(nulos_columnas[columna])
    print('En la columna %d hay %d registros nulos no consecutvos' % (columna, num_nulos))

En la columna 0 hay 249 registros nulos no consecutvos
En la columna 1 hay 165 registros nulos no consecutvos
En la columna 2 hay 162 registros nulos no consecutvos
En la columna 3 hay 135 registros nulos no consecutvos
En la columna 4 hay 116 registros nulos no consecutvos

In [179]:
for columna in range(len(encu_codigos22.columns)):
    num_nulos = len(nulos_consec_columnas[columna])
    print('En la columna %d hay %d registros nulos consecutvos' % (columna, num_nulos))

En la columna 0 hay 155 registros nulos consecutvos
En la columna 1 hay 68 registros nulos consecutvos
En la columna 2 hay 677 registros nulos consecutvos
En la columna 3 hay 16 registros nulos consecutvos
En la columna 4 hay 4 registros nulos consecutvos

In [180]:
null_columnas = []
for columna in range(len(encu_codigos22.columns)):
    cod_nul_asig = encu_codigos22.iloc[:, columna].isnull()
    ind_nul_asig = np.where(cod_nul_asig == 1)[0].tolist()
    null_columnas.append(ind_nul_asig)
for columna in range(len(encu_codigos22.columns)):
    num_nulos = len(null_columnas[columna])
    print('En la columna %d hay %d registros nulos' % (columna, num_nulos))

En la columna 0 hay 404 registros nulos
En la columna 1 hay 233 registros nulos
En la columna 2 hay 839 registros nulos
En la columna 3 hay 151 registros nulos
En la columna 4 hay 120 registros nulos

### Descripición del proceso de sustitución de registros nulos

Como se ha descrito arriba, el proceso de rellenado se realizará basado en las guías aportadas por las personas que realizaba esta labor manualmente.

El primer criterio se basa en el valor de los registros anteriores y posteriores, si estos son iguales se emplea dicho valor para rellenar el valor en blanco. No obstante esto no ocurre siempre, y en este caso hay que recurrir a información aportada por columnas contiguas.

En el caso de la asignatura (profesor), si los registros posterior y anterior no coinciden se observa la columna correspondiente al profesor (asignatura). Si el profesor (asignatura) coincide con el registro anterior o no, nos señala si debemos emplear el valor anterior o posterior. Algo similar ocurre con el resto de las columnas.

Con esto en mente, atacamos el problema con un bucle que inspecciones las columnas contiguas cuando ocurra dicha situación.

Dado que el proceso es el mismo en todas las columnas, salvo que columna contigua (derecha o izquierda) emplear, definimos una función que realice el proceso.

Se definen las funciones y posteriormente cuando se aplique a cada columna se describe con detalle lo que hace.

Para los registros nulos no consecutivos empleamos la función *sustitucion* y para los no consecutivos la función *sustitucion2*

La función *sustitucion* posee 4 argumentos:

* **datos**: Se refiere al data frame en el cual se deben realizar las sustituciones

* **nulos** Una lista que contiene los índices de las filas en las que se encuentran los datos nulos

* **columna** En que columna se quieren realizar las sustituciones

* **direccion** Indica si se debe usar la columna de la izquierda o derecha en el caso de que el resgistro anterior y posterior no coincidan. El valor debe ser **1** en el caso de la colummna derecha y **-1** en el caso de la izquierda

In [181]:
def sustitucion(datos, nulos, columna, direccion):
    datos2 = datos.copy()
    nombre ='columna_'+str(columna)+'.txt'
    file = open(nombre,'w')
    for i in nulos[columna]:
        if  i == datos2.shape[0]-1:
            file.write('Sustituyendo fila %d por el valor anterior (ultimo dato) \n' %i)
            datos2.iloc[i,columna] = datos2.iloc[i-1,columna]
        elif datos2.iloc[i-1,columna] == datos2.iloc[i+1,columna]:
            file.write('Sustituyendo fila %d por el valor anterior condicion 1 \n' %i)
            datos2.iloc[i,columna] = datos2.iloc[i-1,columna]
        else:
            if datos2.iloc[i-1,(columna + direccion)] == datos2.iloc[i,(columna + direccion)]:
                file.write('Sustituyendo fila %d por el valor anterior, condicion 2 \n' %i)
                datos2.iloc[i,columna] = datos2.iloc[i-1,columna]
            else:
                if pd.isnull(datos2.iloc[i,(columna + direccion)]) == True:
                    file.write('Sustituyendo fila %d por Nan \n' %i)
                    datos2.iloc[i,columna] = pd.np.nan
                else:
                    file.write('Sustituyendo fila %d por el valor posterior, condicion 3 \n' %i)
                    datos2.iloc[i,columna] = datos.iloc[i+1,columna]
    file.close()
    return datos2

La función *sustitucion2* posee 5 argumentos:

* **datos**: Se refiere al data frame en el cual se deben realizar las sustituciones

* **nulos** Una lista que contiene los índices de las filas en las que se encuentran los datos nulos a partir del cual comienza la secuencia de nulos negativos

* **nulos2** Una lista que contiene los índices de las filas en las que se encuentran los datos nulos en el cual acaba la secuencia de nulos negativos

* **columna** En que columna se quieren realizar las sustituciones

* **direccion** Indica si se debe usar la columna de la izquierda o derecha en el caso de que el resgistro anterior y posterior no coincidan. El valor debe ser **1** en el caso de la colummna derecha y **-1** en el caso de la izquierda

In [182]:
def sustitucion2(datos, nulos, nulos2, columna, direccion):
    datos2 = datos.copy()
    for j,i in enumerate(nulos[columna]):
        if datos2.iloc[i-1,columna] == datos2.iloc[nulos2[columna][j]+1,columna]:
            datos2.iloc[i:(nulos2[columna][j]+1),columna] = datos2.iloc[i-1,columna] 
        else:
            for l in range(i,(nulos2[columna][j]+1)):
                if datos2.iloc[l,(columna + direccion)] == datos2.iloc[i-1,(columna + direccion)]:
                    datos2.iloc[l,columna] = datos2.iloc[i-1,columna]
                elif pd.isnull(datos2.iloc[l,(columna + direccion)]) == True:
                    datos2.iloc[l,columna] = pd.np.nan
                elif datos2.iloc[l,(columna + direccion)] == datos2.iloc[nulos2[columna][j]+1,(columna + direccion)]:
                    datos2.iloc[l,columna] = datos2.iloc[nulos2[columna][j]+1,columna]
    return datos2

#### Asignaturas

En este caso el bucle sustituye la asignatura en blanco por el anterior registro si se cumple lo siguiente:

* El registro anterior y posterior es el mismo
* El registro anterior y posterior no es el mismo, pero el código de profesor es el mismo del registro actual y el anterior es el mismo

Si el registro anterior y posterior no es el mismo, y tampoco el código de profesor coincide, se sustituye por el registro siguiente

En caso que no coinciden el registro anterior y posterior y el código de profesor sea un NAN también, no se rellena el registro.
En este caso habría que hacer una comprobación adicional con el año y grupo en un paso posterior.

In [183]:
encu_codigos23 = sustitucion(encu_codigos22, nulos_columnas, 3, 1)

In [184]:
encu_codigos23.iloc[lista_noconsec_asig,:]

        0    1    2    3    4
3       2    1    A    2  NaN
9       2    1    A    2  NaN
41      2    1    A    5  NaN
44    NaN  NaN    A    5  NaN
75      2    1    A    4  NaN
80      2    1    A    4  NaN
189     2  NaN  NaN    5  NaN
191   NaN  NaN  NaN    2  NaN
226     2    1    C    5  NaN
263     2    2    A    6  NaN
458   NaN    3    A   14  NaN
502     2    3    A   16  NaN
641     2  NaN  NaN   24  NaN
653     2  NaN  NaN   24  NaN
656     2  NaN  NaN  NaN  NaN
692     3    1    A    1  NaN
697     3    1    A    3  NaN
706     3    1    A  201  NaN
773     1    1    A  203  NaN
776     1    1    A  NaN  NaN
821     1    1  NaN  201  NaN
826     1  NaN  NaN  201  NaN
833     1    1    A  204  NaN
841   NaN  NaN  NaN  204  NaN
876     1  NaN    C  205  NaN
882   NaN    1    C  203  NaN
889     1  NaN    C  203  NaN
902     1    1    C  202  NaN
930     1    1    C  201  NaN
934   NaN  NaN  NaN  201  NaN
...   ...  ...  ...  ...  ...
2505  NaN    2    C  430  NaN
2517    4    2    B  430  NaN
2523    4    2  NaN  408  NaN
2547    4    2  NaN  408  NaN
2554  NaN    2    D  NaN  NaN
2557    4  NaN  NaN  408  NaN
2560    4  NaN  NaN  408  NaN
2643  NaN  NaN  NaN  410  NaN
2667    4    2    D  409  NaN
2698    4    2    D  406  NaN
2849    4    3  NaN  413  NaN
2887    4    3  NaN  436  NaN
2925  NaN    3    B  413  NaN
3001  NaN    3    B  411  NaN
3021    4    3    B  411  NaN
3024    4    3  NaN  NaN  NaN
3047  NaN    3    B  NaN  NaN
3057    4    3    B  415  NaN
3125    4    3    C  411  NaN
3133    4    3    C  413  NaN
3148    4    3    C  413  NaN
3150    4    3    C  413  NaN
3157    4    3    C  415  NaN
3186    4    3    C  414  NaN
3294  NaN    4    C  421  NaN
3315  NaN    4    C  421  NaN
3340    4    4    C  418  NaN
3366    4    4    C  417  NaN
3690    1    5    A  253  NaN
3719  NaN    5    A  250  NaN

[116 rows x 5 columns]

Se procede a rellenar los registros con NAN's consecutivos. En este caso las reglas son las siguientes:

* Si el registro anterior y posterior es el mismo se sustituye por el **registro anterior**

Si no se cumple lo anterior, se hace un bucle que recorra ese tramo de la columna y realice lo siguiente:

* Si el código de profesor en esa celda es igual al del último registro no NAN, se sustituye por el **registro anterior**

* Si el código de profesor en esa celda es igual al del próximo registro no NAN, se sustituye por el **registro posterior**

* Si el código de profesor en esa celda es NAN, se sustituye por un **NAN**

Como se observa en este caso, una diferencia con respecto al caso anterior es el bucle, para el cual necesitamos el inicio y fin del mismo.

La lista de los índices de resgistros de NAN's consecutivos no nos sirve para iterar sobre el mismo si queremos realizar las sustituciones, así que tenemos que crear primero un lista sobre la cual iterar que corresponde al índice del primero de los registros consecutivos que se repite.

Por ejemplo si los registros son ``[12,13,14,25,26,38,39,40]`` nos gustaría tener una lista del tipo ``[12,25,38]``

Realizamos esto con un list comprehension

In [185]:
consec_col = []
for columna in range(len(nulos_consec_columnas)):
    consec_temp = [ j for i, j in enumerate(nulos_consec_columnas[columna]) if j!= nulos_consec_columnas[columna][i-1]+1 \
                    or j == nulos_consec_columnas[columna][0]]
    consec_col.append(consec_temp)

Asimismo para el bucle interno de la función en caso que los registros anteriores y posteriores no sean iguales, que abarca los registros consecutivos, necesitamos el índice donde acaba la secuencia de dichos registros.

En el ejemplo anterior sería pasar de ``[12,13,14,25,26,38,39,40]`` a ``[14,26,40]``

De manera que la función rellene los registros desde 12 a 14 por ejemplo.

Obtenemos dicha lista siguiendo un procedimiento similar al paso anterior.

Como es posible observar, se realiza un paso adicional donde se incluye el valor terminal, ya que si se intenta hacer desde el list comprehension el índice sale fuera del rango

In [186]:
consec2_col = []
for columna in range(len(nulos_consec_columnas)):
    consec2_temp = [ j for i, j in enumerate(nulos_consec_columnas[columna][0:(len(nulos_consec_columnas[columna])-1)])\
                     if j!= nulos_consec_columnas[columna][i+1]-1 ]
    consec2_temp.append(nulos_consec_columnas[columna][(len(nulos_consec_columnas[columna])-1)])
    consec2_col.append(consec2_temp)

Procedemos a realizar las sustituciones consecutivas en la columna de asignaturas

In [187]:
encu_codigos24 = sustitucion2(datos=encu_codigos23, columna=3, nulos=consec_col, nulos2=consec2_col, direccion=1)

In [188]:
encu_codigos24.iloc[nulos_consec_columnas[3],:]

        0    1    2    3    4
133     2    1    C    4    3
134     2    1  NaN    4    3
493     2    3    A   16   13
494     2    3    A   16   13
776     1    1    A  NaN  NaN
777     1    1    A  205  205
997     1    2    A  209  209
998     1  NaN  NaN  209  NaN
1802    4    1    C  NaN  NaN
1803    4    1    C  405  412
2553    4    2  NaN  408  409
2554  NaN    2    D  408  NaN
3028    4    3    B  414  422
3029  NaN    3    B  414  422
3557    4    5    A  447  444
3558    4    5    A  447  444

Una vez rellenados los valores nulos persisten errores en los registros debido a errores humanos, es decir, se deben realizar sustituciones posteriores para poder corregir los mismos.

Sueles ser errores en los cuales el alumno rellena mal un código. Son relativamente fáciles de identificar por el modo en que se pasan las encuestas por la lectora. La encuestas se pasan de manera ordenada por división, curso, grupo y asignatura; de modo que deberíamos tener muchos registros similares con cambios discontinuos.

Por ejemplo, secuencias seguidas de códigos iguales hasta que se cambie de asignatura, grupo, etc. Dentro de estas secuencias, si el número cambia, es debido a un error de la persona que ha hecho la encuesta.

Para resolver esto se sigue una estrategia idéntica a la anterior, se localizan los índices en los cuales hay un cambio, nos quedamos con los valores no consecutivos (ver abajo la justificación), y definimos una función que itere sobre esos registros de la columna y realice las sustituciones. 

Dichas función son algo más sencillas que las definidas anteriormente, ya que solo inspeccionan el registro anterior o posterior de la columna contigua que se escoja.

> La razón por la cual nos quedamos con valores no consecutivos de los cambios es la siguiente, imaginemos que
> tenemos la siguiente secuencia  ``[12 12 8 12 12]`` si localizamos los índices en los cuales ocurre un cambio
> obtendremos ``[2 3]`` Es cierto que en la posición 2 pasamos de 12 a 8, es la posición que nos interesa, mientras
> que el 3 indica que se ha vuelto a la secuencia original. Esa es la razón por la cual debemos conservar solo el 
> índice 2

In [189]:
def localiza(datos, columna):
    indice_post = [indice for indice in np.arange(1,datos.shape[0])  if \
                   datos.iloc[indice,columna] != datos.iloc[indice-1,columna] ]
    indice_post_uniq = [ x for i,x in enumerate(indice_post[0:len(indice_post)-1]) if \
                         indice_post[i] == indice_post[i+1]-1 ] 
    return indice_post_uniq

In [190]:
indice_post3 = localiza(datos= encu_codigos24, columna= 3)

In [191]:
indice_post3

[29,
 189,
 290,
 656,
 776,
 856,
 1034,
 1035,
 1042,
 1074,
 1265,
 1333,
 1371,
 1504,
 1540,
 1802,
 1897,
 1919,
 2044,
 2498,
 2660,
 2720,
 3024,
 3031,
 3036,
 3043,
 3044,
 3047,
 3130,
 3289,
 3473,
 3474]

Una vez localizados los índices en los cuales debemos realizar las sustituciones producto de errores humanos, definimos una función que realice los reemplazos.

Como se ha mencionado arriba, la función es muy similar a las anteriores. Los criterios son los siguientes:

-  Si el valor de la columna de referencia en esa celda es igual al registro anterior, el registro se sustituye por el anterior

-  Si el valor de la columna de referencia en esa celda es igual al registro posterior, el registro se sustituye por el posterior

- Si el valor de la columna de referencia con los dos pasos anteriores no es suficiente para detectar el error, se emplea la columna contraria

- En caso contrario se sustiyuye por un NAN

In [192]:
def sustitucion3(datos, nulos, columna, direccion):
    datos2 = datos.copy()
    otracol = -1*columna
    for i in nulos:
        if datos2.iloc[i-1,columna] == datos2.iloc[i+1,columna]:
            datos2.iloc[i,columna] = datos2.iloc[i-1,columna]
        else:
            if datos2.iloc[i-1,(columna + direccion)] == datos2.iloc[i,  (columna + direccion)]:
                datos2.iloc[i,columna] = datos2.iloc[i-1,columna]
            elif datos2.iloc[i+1,(columna + direccion)] == datos2.iloc[i,(columna + direccion)]:
                datos2.iloc[i,columna] = datos2.iloc[i+1,columna]
            elif  pd.isnull(datos2.iloc[i,(columna + direccion)]) == False and \
            datos2.iloc[i-1,(columna + otracol)] == datos2.iloc[i,  (columna + otracol)]:
                datos2.iloc[i,columna] = datos2.iloc[i-1,columna]
            elif  pd.isnull(datos2.iloc[i,(columna + direccion)]) == False and \
            datos2.iloc[i+1,(columna + otracol)] == datos2.iloc[i,  (columna + otracol)]:
                datos2.iloc[i,columna] = datos2.iloc[i+1,columna]
            else:
                datos2.iloc[i,columna] = pd.np.nan
    return datos2

Debido a la forma como se ha definido la función ``localiza`` persisten los errores humanos _consecutivos_, es decir, si se existen dos registros consecutivos con un código erroneo

Para arreglar lo anterior se define otra función de localización que en lugar de guardar solo los resgistros únicos, identifique los errores consecutivos hasta 3 registros.

El 3 es fijado de forma arbitraria y surje de la inspección visual de los datos por quienes realizaban la labor manualmente. En el futuro esta cifra se fijaría en función del menor grupo de alumnos al que se le haya pasado la encuesta. Por ejemplo, si el grupo más pequeño es de 5 $(n)$ alumnos, la cifra anterior sería 4 $(n-1)$

La siguiente función (``localiza2``) es igual a ``localiza`` salvo que en lugar de quedarnos con los valores únicos, nos quedamos con valores que se repiten hasta 3 veces.

Adicionalmente el output son listas de tuplas, con el primer elemento de la tupla indicando el índice donde comienza la secuencia y el segundo elemento el índice en el cual acaba.

In [193]:
def localiza2(datos, columna):
    indice_bound1 = []
    indice_bound2 = []
    indice_post = [indice for indice in np.arange(1,datos.shape[0])  if \
                   datos.iloc[indice,columna] != datos.iloc[indice-1,columna] ]
    indice_post2 = [ (x,i) for i,x in enumerate(indice_post[0:len(indice_post)-3]) if \
                         indice_post[i] == indice_post[i+1]-2 or \
                         indice_post[i] == indice_post[i+1]-3 ]
    for i,x in enumerate(indice_post2[0:len(indice_post2)]):
        indice1 = indice_post2[i][0]
        indice_temp = indice_post2[i][1] + 1
        indice2 = indice_post[indice_temp]
        indice_bound1.append(indice1)
        indice_bound2.append(indice2)
    return indice_bound1, indice_bound2

Y definimos otra función de sustitución similar a las anteriores, guarda mayor similitud con ``sustitucion2``

Para los rangos definido por ``localiza2``, si el registro de la columna de referencia es igual al de la misma columna antes del inicio del rango, se sustituye el resgistro **por el valor anterior**.

En caso que el registro de la columna de referencia es igual al de la misma columna al final del rango, se sustituye por **por el valor posterior**

In [194]:
def sustitucion4(datos, nulos, columna, direccion):
    datos2 = datos.copy()
    for i,x in enumerate(nulos[0]):
        for l in range(x, nulos[1][i]):
            if datos2.iloc[l, columna + direccion] == datos2.iloc[x-1, columna + direccion]:
                datos2.iloc[l, columna] = datos2.iloc[x-1,columna]
            elif datos2.iloc[l, columna + direccion] == datos2.iloc[nulos[1][i], columna + direccion]:
                datos2.iloc[l, columna] = datos2.iloc[nulos[1][i], columna]
    return datos2

Estas sustituciones la haremos al final del proceso. Se aplican solo a las columnas grupo y profesor que han sido en las cuales se han detectado problemas post-limpieza

#### Profesores

Empezamos con el caso de registros nulos no consecutivos

En esta columna solo se emplean los siguientes criterios para rellenar los NAN's:

Sustituimos el código de profesor en blanco por el anterior registro si se cumple lo siguiente:

* Si el registro anterior y posterior es el mismo, se sustituye por el registro anterior

* Si el registro anterior y posterior no coinciden, pero el código de asignatura del registro actual y el anterior es el mismo

Si el registro anterior y posterior no es el mismo, y tampoco el código de asignatura coincide, se sustituye por el registro siguiente

Si el registro anterior y posterior no coinciden y la columna de asignatura es NAN, se mantiene NAN

En este último caso no existe información adicional (asignatura) que permita determinar el código de profesor. Estos registros se eliminarán al final del proceso

In [195]:
encu_codigos25 = sustitucion(datos=encu_codigos24, columna=4, nulos=nulos_columnas, direccion=-1)

In [196]:
encu_codigos25.iloc[nulos_columnas[4],:]

        0    1    2    3    4
3       2    1    A    2    6
9       2    1    A    2    6
41      2    1    A    5    4
44    NaN  NaN    A    5    4
75      2    1    A    4    3
80      2    1    A    4    3
189     2  NaN  NaN    5   30
191   NaN  NaN  NaN    2   30
226     2    1    C    5    4
263     2    2    A    6    4
458   NaN    3    A   14    9
502     2    3    A   16   13
641     2  NaN  NaN   24   20
653     2  NaN  NaN   24   20
656     2  NaN  NaN  NaN  NaN
692     3    1    A    1   31
697     3    1    A    3    2
706     3    1    A  201  201
773     1    1    A  203  228
776     1    1    A  NaN  NaN
821     1    1  NaN  201  201
826     1  NaN  NaN  201  201
833     1    1    A  204  204
841   NaN  NaN  NaN  204  204
876     1  NaN    C  205  205
882   NaN    1    C  203  203
889     1  NaN    C  203  203
902     1    1    C  202  202
930     1    1    C  201  201
934   NaN  NaN  NaN  201  201
...   ...  ...  ...  ...  ...
2505  NaN    2    C  430  448
2517    4    2    B  430  448
2523    4    2  NaN  408  409
2547    4    2  NaN  408  409
2554  NaN    2    D  408  409
2557    4  NaN  NaN  408  409
2560    4  NaN  NaN  408  409
2643  NaN  NaN  NaN  410  415
2667    4    2    D  409  413
2698    4    2    D  406  410
2849    4    3  NaN  413  421
2887    4    3  NaN  436  414
2925  NaN    3    B  413  420
3001  NaN    3    B  411  417
3021    4    3    B  411  417
3024    4    3  NaN  NaN  NaN
3047  NaN    3    B  NaN  422
3057    4    3    B  415  424
3125    4    3    C  411  417
3133    4    3    C  413  421
3148    4    3    C  413  421
3150    4    3    C  413  421
3157    4    3    C  415  424
3186    4    3    C  414  422
3294  NaN    4    C  421  420
3315  NaN    4    C  421  420
3340    4    4    C  418  428
3366    4    4    C  417  418
3690    1    5    A  253  254
3719  NaN    5    A  250  223

[116 rows x 5 columns]

Se procede a rellenar los registros con NAN's consecutivos. En este caso las reglas son las siguientes:

* Si el registro anterior y posterior es el mismo se sustituye por el **registro anterior**

Si no se cumple lo anterior, se hace un bucle que recorra ese tramo de la columna y realice lo siguiente:

* Si el código de asignatura en esa fila es igual al del último registro no NAN, se sustituye por el **registro anterior**

* Si el código de asignatura en esa fila es igual al del próximo registro no NAN, se sustituye por el **registro posterior**

* Si el código de asignatura en esa fila es NAN, se sustituye por un **NAN**

In [197]:
encu_codigos26 = sustitucion2(datos=encu_codigos25, columna=4, nulos=consec_col, nulos2=consec2_col, direccion=-1)

In [198]:
encu_codigos26.iloc[nulos_consec_columnas[4], :]

     0    1    2   3   4
30   2    1    A   1   4
31   2    1    A   1   4
256  2    2    A   6   4
257  2  NaN  NaN   6   4

In [199]:
indice_post4 = localiza(datos= encu_codigos26, columna= 4)

In [200]:
indice_post4

[443,
 444,
 445,
 656,
 660,
 776,
 830,
 838,
 1033,
 1069,
 1074,
 1109,
 1140,
 1151,
 1265,
 1333,
 1371,
 1504,
 1626,
 1802,
 1919,
 2058,
 2183,
 2225,
 2426,
 2449,
 2487,
 2568,
 2569,
 2573,
 2602,
 2624,
 2787,
 2818,
 2836,
 2845,
 2904,
 3024,
 3123,
 3154,
 3259,
 3420,
 3504]

In [201]:
encu_codigos262 = sustitucion3(datos=encu_codigos26,columna=3,direccion=1,nulos=indice_post3)

In [202]:
encu_codigos262.iloc[indice_post3,:]

        0    1    2    3    4
29      2    1    A    1    4
189     2  NaN  NaN    2   30
290     2    2    A    8    1
656     2  NaN  NaN  NaN  NaN
776     1    1    A  NaN  NaN
856     1    1    C  205  205
1034    1    2  NaN  208  207
1035    1    2    A  208  207
1042    1    2    C  208  208
1074    1    2    C  209  230
1265    1    4  NaN  NaN  NaN
1333    4    1    A  NaN  NaN
1371    4    1  NaN  NaN  NaN
1504    4    1    B  405  403
1540    4    1    B  402  403
1802    4    1    C  NaN  NaN
1897  NaN    1    D  403  404
1919    4    1  NaN  NaN  NaN
2044  NaN    1    D  402  403
2498    4    2    C  430  448
2660    4    2  NaN  409  413
2720    4    2  NaN  406  410
3024    4    3  NaN  NaN  NaN
3031    4    3    B  414  422
3036  NaN    3    B  414  422
3043    4    3    B  414  422
3044    4    3    B  414  422
3047  NaN    3    B  141  422
3130    4    3    C  413  421
3363    4    4    C  417  418
3660    1    5    A  251  233
3661  NaN    5    A  251  233

Ahora debemos repetir la misma operación sobre la columna de **asignaturas**, ya que esta usa como referencia la columna de profesores que hemos acabado de modificar

In [203]:
encu_codigos263 = sustitucion3(datos=encu_codigos262, columna=4, direccion=-1,nulos=indice_post4)

In [204]:
encu_codigos263.iloc[indice_post4,:]

        0    1    2    3    4
443     2    2    A    9    6
444     2    2    A    9    6
445     2    2    A    9    6
656     2  NaN  NaN  NaN  NaN
660     2    4    A   22   18
776     1    1    A  NaN  NaN
830     1    1    A  204  204
838     1    1  NaN  204  204
1033    1    2    A  208  207
1069    1    2    C  209  210
1074    1    2    C  209  210
1109    1    3    A  213  217
1140    1    3    A  214  204
1151    1    3  NaN  214  204
1265    1    4  NaN  NaN  NaN
1333    4    1    A  NaN  NaN
1371    4    1  NaN  NaN  NaN
1504    4    1    B  405  409
1626  NaN    1    B  401  401
1802    4    1    C  NaN  NaN
1919    4    1  NaN  NaN  NaN
2058    4    2    A  406  410
2183    4    2  NaN  409  413
2225  NaN  NaN  NaN  430  411
2426    4    2    B  413  414
2449    4    2    C  406  410
2487  NaN    2    C  430  411
2568    4    2    C  410  405
2569    4    2  NaN  410  405
2573    4    2  NaN  410  415
2602    4    2  NaN  409  413
2624    4    2    C  409  413
2787    4    3    A  414  422
2818    4    3  NaN  415  425
2836  NaN    3  NaN  415  425
2845  NaN  NaN  NaN  413  421
2904  NaN    3  NaN  411  416
3024    4    3  NaN  NaN  NaN
3123    4    3    C  411  417
3154    4    3    C  415  424
3333  NaN    4    C  418  428
3607  NaN    5    A  445  442
3691    1    5    A  253  254

#### Grupo

Empezamos con el caso de registros nulos no consecutivos

En esta columna solo se emplean los siguientes criterios para rellenar los NAN's:

Sustituimos el código de profesor en blanco por el anterior registro si se cumple lo siguiente:

* Si el registro anterior y posterior es el mismo, se sustituye por el registro anterior

* Si el registro anterior y posterior no coinciden, pero el código de asignatura del registro actual y el anterior es el mismo

Si el registro anterior y posterior no es el mismo, y tampoco el código de asignatura coincide, se sustituye por el registro siguiente

Si el registro anterior y posterior no coinciden y la columna de asignatura es NAN, se mantiene NAN

En este último caso no existe información adicional (asignatura) que permita determinar el código de profesor. Estos registros se eliminarán al final del proceso

In [205]:
encu_codigos27 = sustitucion(datos=encu_codigos263, columna=2, nulos=nulos_columnas, direccion=1)

In [206]:
encu_codigos27.iloc[nulos_columnas[2], :]

        0    1  2    3    4
6       2    1  A    2    6
16    NaN  NaN  A    2    6
40      2  NaN  A    5    4
43      2  NaN  A    5    4
90      2  NaN  A    4    3
95      2    1  A    4    3
114     2    1  A    1   31
117   NaN  NaN  C    4    3
134     2    1  C    4    3
137   NaN  NaN  C    1   31
153     2  NaN  C    1   31
179     2  NaN  C    2   30
189     2  NaN  C    2   30
191   NaN  NaN  C    2   30
243     2  NaN  A    6    4
246     2    2  A    6    4
249   NaN  NaN  A    6    4
257     2  NaN  A    6    4
311     2  NaN  A   10    3
329     2    2  A   10    3
344     2    2  A   11    7
346     2  NaN  A   11    7
355     2  NaN  A    1    7
359   NaN  NaN  A   11    7
366     2    2  A   11    7
376     2  NaN  A   11    7
385   NaN  NaN  A    7   23
414     2    2  A    7   23
425   NaN  NaN  A    9    6
427     2    2  A    9    6
...   ...  ... ..  ...  ...
2369    4    2  B  430  411
2372  NaN    2  B  430  411
2379    4    2  B  409  413
2387    4    2  B  409  413
2404    4    2  B  409  413
2417    4    2  B  413  414
2423    4    2  B  413  414
2435  NaN  NaN  B  413  414
2443  NaN  NaN  B  413  414
2569    4    2  C  410  405
2582    4    2  C  410  415
2599    4    2  C  409  413
2602    4    2  C  409  413
2605    4    2  C  409  413
2613    4    2  C  409  413
2617    4    2  C  409  413
2620  NaN  NaN  C  409  413
2660    4    2  D  409  413
2675    4    2  D  409  413
2788    4    3  A  414  422
2808    4    3  A  415  425
2811    4    3  A  415  425
2827    4    3  A  415  425
2843    4    3  A  413  421
2910    4    3  A  411  416
2917    4    3  A  411  416
2920    4    3  A  411  416
2963    4    3  B  436  436
3024    4    3  B  NaN  NaN
3171    4    3  C  414  422

[162 rows x 5 columns]

In [207]:
encu_codigos271 = sustitucion2(datos=encu_codigos27, columna=2, nulos=consec_col, nulos2=consec2_col, direccion=1)

In [208]:
encu_codigos271.iloc[nulos_consec_columnas[2], :]

        0    1  2    3    4
12      2  NaN  A    2    6
13      2  NaN  A    2    6
14      2    1  A    2    6
25    NaN  NaN  A    2    6
26      2    1  A    2    6
27      2    1  A    2    6
33      2  NaN  A    5    4
34    NaN  NaN  A    5    4
45    NaN  NaN  A    5    4
46      2  NaN  A    5    4
47      2  NaN  A    5    4
81      2    1  A    4    3
82      2    1  A    4    3
83      2    1  A    4    3
102     2  NaN  A    1   31
103     2    1  A    1   31
110     2    1  A    1   31
111   NaN  NaN  A    1   31
304     2  NaN  A   10    3
305     2    2  A   10    3
335   NaN  NaN  A   10    3
336     2    2  A   10    3
339   NaN    2  A   10    3
340     2    2  A   10    3
348   NaN    2  A   11    7
349     2  NaN  A   11    7
411     2    2  A    7   23
412     2  NaN  A    7   23
545     1    4  A   19   15
546     2    4  A   19   15
...   ...  ... ..  ...  ...
2908  NaN    3  A  411  416
2912  NaN  NaN  A  411  416
2913    4    3  A  411  416
2914    4    3  A  411  416
3343    4    4  C  417  418
3344    4    4  C  417  418
3345    4    4  C  417  418
3346    4    4  C  417  418
3347    4    4  C  417  418
3349  NaN  NaN  C  417  418
3350    4    4  C  417  418
3351    4    4  C  417  418
3352    4    4  C  417  418
3353    4    4  C  417  418
3354    4    4  C  417  418
3355    4    4  C  417  418
3356    4    4  C  417  418
3357    4  NaN  C  417  418
3367    4    4  C  417  418
3368    4    4  C  417  418
3369    4    4  C  417  418
3370    4    4  C  417  418
3371    4    4  C  417  418
3372    4    4  C  417  418
3373    4    4  C  417  418
3374  NaN  NaN  C  417  418
3375    4    4  C  417  418
3376  NaN    4  C  417  418
3385    4    4  C  422  431
3386    4    4  C  422  431

[677 rows x 5 columns]

In [209]:
indice_post2 = localiza(datos=encu_codigos271,columna=2)

In [210]:
encu_codigos272 = sustitucion3(datos=encu_codigos271,columna=2,direccion=1, nulos=indice_post2)

In [211]:
encu_codigos272.iloc[indice_post2,:]

        0    1  2    3    4
867   NaN  NaN  C  205  205
1063    1    2  C  209  210
1559    4    1  B  402  403
2306    4    2  B  406  410
2491  NaN    2  C  430  411
2511    4    2  C  430  448
2517    4    2  C  430  448
2558    4    2  D  408  409
3060    4    3  B  415  424

#### Curso

El criterio de sustituciones consecutivas y no consecutivas es igual a los casos anteriores. En caso de que los registros posterior e inferior difieran, se usa la columna *Division* para determinar el curso

In [212]:
encu_codigos28 = sustitucion(datos=encu_codigos272, columna=1, nulos=nulos_columnas, direccion=-1)

In [213]:
encu_codigos28.iloc[nulos_columnas[1],:]

        0  1  2    3    4
16    NaN  1  A    2    6
23      2  1  A    2    6
25    NaN  1  A    2    6
40      2  1  A    5    4
76      2  1  A    4    3
90      2  1  A    4    3
102     2  1  A    1   31
105     2  1  A    1   31
111   NaN  1  A    1   31
117   NaN  1  C    4    3
129     2  1  C    4    3
137   NaN  1  C    1   31
144     2  1  C    1   31
153     2  1  C    1   31
179     2  1  C    2   30
186   NaN  1  C    2   30
189     2  1  C    2   30
191   NaN  1  C    2   30
215     2  1  C    5    4
218     2  1  C    5    4
243     2  2  A    6    4
249   NaN  2  A    6    4
257     2  2  A    6    4
304     2  2  A   10    3
311     2  2  A   10    3
335   NaN  2  A   10    3
346     2  2  A   11    7
349     2  2  A   11    7
355     2  1  A    1    7
359   NaN  2  A   11    7
...   ... .. ..  ...  ...
2526    4  2  C  408  409
2532    4  2  C  408  409
2557    4  2  D  408  409
2560    4  2  D  408  409
2620  NaN  2  C  409  413
2630    4  2  D  410  415
2643  NaN  2  D  410  415
2679    4  2  D  409  413
2681  NaN  2  D  409  413
2704    4  2  D  406  410
2762  NaN  2  D  430  411
2766  NaN  2  D  430  411
2793  NaN  3  A  414  422
2795    4  3  A  414  422
2817    4  3  A  415  425
2833    4  3  A  415  425
2835    4  3  A  415  425
2845  NaN  3  A  413  421
2847    4  3  A  413  421
2863    4  3  A  436  414
2905  NaN  3  A  411  416
2912  NaN  3  A  411  416
3349  NaN  4  C  417  418
3374  NaN  4  C  417  418
3523    4  5  A  448  445
3539    4  5  A  447  444
3566    4  5  A  446  443
3590    4  5  A  445  442
3596  NaN  5  A  445  442
3618    4  5  A  444  441

[165 rows x 5 columns]

In [214]:
encu_codigos29 = sustitucion2(datos=encu_codigos28, columna=1, nulos=consec_col, nulos2=consec2_col, direccion=-1)

In [215]:
encu_codigos29.iloc[nulos_consec_columnas[1],:]

        0  1  2    3    4
12      2  1  A    2    6
13      2  1  A    2    6
33      2  1  A    5    4
34    NaN  1  A    5    4
43      2  1  A    5    4
44    NaN  1  A    5    4
45    NaN  1  A    5    4
46      2  1  A    5    4
47      2  1  A    5    4
563   NaN  4  A   21   17
564     2  4  A   21   17
888     1  1  C  203  203
889     1  1  C  203  203
1216    1  4  A  216  218
1217    1  4  A  216  218
1288    4  1  A  403  404
1289    4  1  A  403  404
1300    4  1  A  403  404
1301  NaN  1  A  403  404
1347    4  1  A  402  403
1348    4  1  A  402  403
1372    4  1  A  405  407
1373  NaN  1  A  405  407
1427    4  1  A  401  401
1428  NaN  1  A  401  401
1532    4  1  B  402  403
1533    4  1  B  402  403
1564  NaN  1  B  404  406
1565    4  1  B  404  406
1650  NaN  1  B  403  404
...   ... .. ..  ...  ...
1821    4  1  C  405  412
1822    4  1  C  405  412
1823  NaN  1  C  405  412
2029    4  1  D  402  403
2030    4  1  D  402  403
2105  NaN  2  A  408  412
2106    4  2  A  408  412
2135    4  2  A  410  414
2136    4  2  A  410  414
2210  NaN  2  A  409  413
2211    4  2  A  409  413
2222    4  2  A  430  411
2223  NaN  2  A  430  411
2224  NaN  2  A  430  411
2225  NaN  2  A  430  411
2320  NaN  2  B  406  410
2321  NaN  2  B  406  410
2627    4  2  D  410  415
2628    4  2  D  410  415
2738  NaN  2  D  430  448
2739  NaN  2  D  430  448
2822  NaN  3  A  415  425
2823    4  3  A  415  425
2824  NaN  3  A  415  425
2859    4  3  A  413  421
2860  NaN  3  A  413  421
2867    4  3  A  436  414
2868    4  3  A  436  414
3357    4  4  C  417  418
3358    4  4  C  417  418

[68 rows x 5 columns]

In [216]:
indice_post1 = localiza(datos=encu_codigos29, columna=1)

In [217]:
encu_codigos291 = sustitucion3(datos=encu_codigos29, columna=1,nulos=indice_post1,direccion=-1)

In [218]:
encu_codigos291.iloc[indice_post1,:]

        0  1  2    3    4
440     2  2  A    9    6
2069    4  2  A  406  410
2128    4  2  A  410  414
2173  NaN  2  A  409  413
2418    4  2  B  413  414
2442    4  2  B  413  414
2443  NaN  2  B  413  414
2600    4  2  C  409  413
2677    4  2  D  409  413
2747    4  2  D  430  448
2774    4  2  D  430  411

#### Division

El criterio de sustituciones consecutivas y no consecutivas es igual a los casos anteriores. En caso de que los registros posterior e inferior difieran, se usa la columna *Curso* para determinar el curso

In [219]:
encu_codigos30 = sustitucion(datos=encu_codigos291, columna=0, nulos=nulos_columnas, direccion=1)

In [220]:
encu_codigos30.iloc[nulos_columnas[0],:]

      0  1  2    3    4
16    2  1  A    2    6
25    2  1  A    2    6
34    2  1  A    5    4
38    2  1  A    5    4
99    2  1  A    4    3
111   2  1  A    1   31
117   2  1  C    4    3
137   2  1  C    1   31
156   2  1  C    3    2
159   2  1  C    3    2
177   2  1  C    2   30
186   2  1  C    2   30
191   2  1  C    2   30
228   2  2  A    6    4
244   2  2  A    6    4
249   2  2  A    6    4
286   2  2  A    8    1
335   2  2  A   10    3
339   2  2  A   10    3
348   2  2  A   11    7
359   2  2  A   11    7
385   2  2  A    7   23
418   2  2  A    9    6
425   2  2  A    9    6
452   2  3  A   14    9
458   2  3  A   14    9
462   2  3  A   14    9
468   2  3  A   13    2
478   2  3  A   13    2
507   2  3  A   15   11
...  .. .. ..  ...  ...
3511  4  5  A  448  445
3538  4  5  A  447  444
3550  4  5  A  447  444
3562  4  5  A  446  443
3564  4  5  A  446  443
3578  4  5  A  446  443
3587  4  5  A  445  442
3596  4  5  A  445  442
3605  4  5  A  445  442
3607  4  5  A  445  442
3614  4  5  A  444  441
3622  4  5  A  444  441
3633  4  5  A  444  441
3643  1  5  A  251  233
3645  1  5  A  251  233
3647  1  5  A  251  233
3661  1  5  A  251  233
3665  1  5  A  252  234
3667  1  5  A  252  234
3669  1  5  A  252  234
3683  1  5  A  252  234
3687  1  5  A  253  254
3689  1  5  A  253  254
3692  1  5  A  253  254
3694  1  5  A  253  254
3706  1  5  A  253  254
3710  1  5  A  250  223
3712  1  5  A  250  223
3715  1  5  A  250  223
3728  1  5  A  250  223

[249 rows x 5 columns]

In [221]:
encu_codigos31 = sustitucion2(datos=encu_codigos30, columna=0, nulos=consec_col, nulos2=consec2_col, direccion=1)

In [222]:
encu_codigos31.iloc[nulos_consec_columnas[0],:]

      0  1  2    3    4
44    2  1  A    5    4
45    2  1  A    5    4
140   2  1  C    1   31
141   2  1  C    1   31
489   2  3  A   12    8
490   2  3  A   12    8
938   1  1  C  201  201
939   1  1  C  201  201
1132  1  3  A  214  204
1133  1  3  A  214  204
1144  1  3  A  214  204
1145  1  3  A  214  204
1330  4  1  A  403  404
1331  4  1  A  403  404
1334  4  1  A  402  403
1335  4  1  A  402  403
1339  4  1  A  402  403
1340  4  1  A  402  403
1341  4  1  A  402  403
1342  4  1  A  402  403
1428  4  1  A  401  401
1429  4  1  A  401  401
1461  4  1  A  401  401
1462  4  1  A  404  405
1463  4  1  A  404  405
1568  4  1  B  404  406
1569  4  1  B  404  406
1570  4  1  B  404  406
1571  4  1  B  404  406
1573  4  1  B  404  406
...  .. .. ..  ...  ...
3296  4  4  C  421  420
3297  4  4  C  421  420
3314  4  4  C  421  420
3315  4  4  C  421  420
3318  4  4  C  421  420
3319  4  4  C  421  420
3320  4  4  C  418  428
3524  4  5  A  448  445
3525  4  5  A  448  445
3652  1  5  A  251  233
3653  1  5  A  251  233
3657  1  5  A  251  233
3658  1  5  A  251  233
3659  1  5  A  251  233
3674  1  5  A  252  234
3675  1  5  A  252  234
3679  1  5  A  252  234
3680  1  5  A  252  234
3681  1  5  A  252  234
3696  1  5  A  253  254
3697  1  5  A  253  254
3698  1  5  A  253  254
3702  1  5  A  253  254
3703  1  5  A  253  254
3704  1  5  A  253  254
3719  1  5  A  250  223
3720  1  5  A  250  223
3724  1  5  A  250  223
3725  1  5  A  250  223
3726  1  5  A  250  223

[155 rows x 5 columns]

In [223]:
indice_post0 = localiza(datos=encu_codigos31,columna=0)

In [224]:
encu_codigos32 = sustitucion3(datos=encu_codigos31,columna=0,nulos=indice_post0,direccion=1)

In [225]:
encu_codigos32.iloc[indice_post0,:]

     0  1  2    3    4
545  2  4  A   19   15
705  3  1  A  201  201

In [226]:
indice_f3 = localiza2(datos= encu_codigos32, columna=3)
indice_f3

([29, 354, 711, 1146, 1149, 1157, 1509, 1511, 1513, 1948, 3045],
 [32, 356, 713, 1149, 1152, 1159, 1511, 1513, 1515, 1950, 3048])

In [227]:
encu_codigos33 = sustitucion4(datos=encu_codigos32, columna=3, nulos=indice_f3, direccion=1)

In [228]:
indice_f2 = localiza2(datos= encu_codigos32, columna=2)
indice_f2

([825, 1933], [827, 1935])

In [229]:
encu_codigos34 = sustitucion4(datos=encu_codigos33, columna=2, nulos=indice_f2, direccion=1)

Con esto, **acabamos la limpieza del bloque de códigos**

Verificamos que ambos bloques tengan el mismo número de filas

In [230]:
encu_codigos34.shape

(3542, 5)

In [231]:
encu_4.shape

(3542, 10)

Convertimos a valores numéricos los registros del bloque de valoraciones

In [232]:
encu_5 = encu_4.apply(pd.to_numeric, axis = 1)

Unimos ambos bloques

In [233]:
encu_6 = encu_codigos34.join(encu_5)

In [234]:
encu_6.shape

(3542, 15)

Eliminamos los NAN's

Una vez hechas todas las substituciones posibles, los valores vacios hacen imposible determinar las asignatura o los valores de la encuesta

In [235]:
encu_def = encu_6.dropna()

In [236]:
encu_def.shape

(3532, 15)

In [237]:
dif_fil = encu_6.shape[0] - encu_def.shape[0]
print('Se han eliminado %d filas' %dif_fil)

Se han eliminado 10 filas

Colocamos nombres a las columnas

In [238]:
nombre_columnas = ['División', 'Curso', 'Grupo', 'Asignatura', 'Profesor', 'Item 1', 'Item 2', 'Item 3', 'Item 4', \
                  'Item 5', 'Item 6', 'Item 7', 'Item 8', 'Item 9', 'Item 10']

In [239]:
encu_def.columns = nombre_columnas

In [240]:
encu_def.head()

,División,Curso,Grupo,Asignatura,Profesor,Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,Item 10
0,2,1,A,2,6,5.0,6.0,4.0,8.0,7.0,3.0,5.0,7.0,7.0,9.0
1,2,1,A,2,6,7.0,7.0,6.0,6.0,6.0,8.0,7.0,7.0,8.0,8.0
2,2,1,A,2,6,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
3,2,1,A,2,6,8.0,7.0,7.0,6.0,7.0,8.0,7.0,7.0,7.0,8.0
4,2,1,A,2,6,9.0,8.0,8.0,8.0,9.0,9.0,8.0,9.0,8.0,8.0

In [243]:
encu_def.to_excel('encuesta.xlsx', index=False)

In [242]:
t2 = time.time()

print("Tiempo de ejecución ", t2-t1)

Tiempo de ejecución  23.352457523345947